@model CostAllocationApp.ViewModels.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
}

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <div id="cost_management"></div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <div id="employees"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <div id="grade_system"></div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
        </div>
    </div>
</div>

@section Scripts{
    <script src="/Scripts/loader.js"></script>
    <script src="/Scripts/Chart.min.js"></script>
    <script src="/Scripts/Custome-Reporting.js"></script>
}