
@{
    ViewBag.Title = "Roles Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link rel="stylesheet" type="text/css" href="/Content/common.css" />
    <link rel="stylesheet" type="text/css" href="/Content/roles.css" />
}

<!--Main Body-->
<div class="content container-fluid">
    <!--List-->
    <h4 style="text-align:left;">List</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="">

                <table class="" id="incharge_table">
                    <thead>
                        <tr>
                            <th>Check</th>
                            <th>Role Name</th>
                        </tr>
                    </thead>
                    <tbody id="incharge_list_tbody"></tbody>
                </table>

                <label id="incharge_delete_btn">
                    <a id="delete_button" href="javascript:void();" data-toggle="modal" data-target="#inactive_incharge_modal">Delete</a>
                </label>
            </div>
        </div>
    </div>
    <!--Section List End-->
    <br />
    <!-- Add Designation Modal -->
    <div class="modal-content" id="section_body">
        <style>
        </style>
        <div class="modal-body">
            <form>
                <div id="main-div">

                    <div class="row">
                        <div class="col-sm-4 module-label-txt">
                            <div class="form-group">
                                <label for="department-name">Role Name <span class="text-danger">*</span></label>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <input class="form-control" id="role_name" type="text" placeholder="role name...">
                                <div class="department-name-error">
                                    Please provide a role name.
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="cutom_button_group_incharge">
                        <a href="javascript:void(0);" id="custom_cancel">Cancel</a>
                        <a href="javascript:void(0);" id="custom_submit" onclick="AddRoles();">Registration</a>
                    </div>
                </div>
                <style>

                    #plus-icon {
                        visibility: hidden;
                    }
                </style>
            </form>
        </div>
    </div>
    <br><br>
    <!--Section Create End-->

</div>

<!-- Role Inactive Modal -->
<div class="modal custom-modal fade" id="inactive_incharge_modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Roles</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn" id="confirm_delete">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{    
    <script src="/Scripts/common.js"></script> 
    <script src="/Scripts/roles.js"></script>           
}
