#cm_registration {
    background-color: #3c4b5d;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

#cm_cancel {
    background-color: #FC4136;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

.custom_button_group_cm {
    float: right;
    margin-left: 50%;
}

.cm_grade_name_err, .cm_sir_name_err, .cm_owft_name_err, .cm_brr_name_err, .cm_brc_name_err, .cm_wcr_name_err {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 100%;
    color: #dc3545;
}
#cm_body {
    width: 80% !important;
}
#cm_name_lbl {
    padding-top: 10px;
}
/****** show list *******/
#grade_table td, th {
    border: 1px solid;
    padding: 0px !important;
    text-align: center;
}

    #grade_table td, th:nth-of-type(9) {
        text-align: center;
        width: 20px;
    }

        #grade_table td:nth-of-type(2) {
            border: 1px solid;
            padding: 2px !important;
            text-align: left;
            text-indent: 1em;
        }

#commonmaster_list_tbody {
    text-align: center;
}

#grade_name_lbl {
    padding-top: 10px;
}

#grade_body {
    width: 59% !important;
}

#grade_table {
    width: 85%;
    border-collapse: collapse;
    font-size: 14px;
    border: 1px solid;
}

#grade_table thead tr:nth-of-type(1) {
    background-color: #3c4b5d;
    color: white;
    text-align: center;
}

#grade_table thead th:nth-of-type(2) {
    width: 200px
}

#grade_table thead th:nth-of-type(3) {
    width: 100px
}

#grade_table thead th:nth-of-type(1) {
    width: 45px;
}
