/*-----------------Company Master-----------------------*/
#company_registration {
    background-color: #3c4b5d;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}
#company_cancel {
    background-color: #FC4136;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}
#company_inactive_btn {
    background: indianred;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    display: inline-block;
}
#copmany_table td, th {
    border: 1px solid;
    padding: 0px !important;
}
#copmany_table {
    width: 47%;
    border-collapse: collapse;
    font-size: 14px;
    border: 1px solid;
}
#copmany_table thead tr:nth-of-type(1) {
    background-color: #3c4b5d;
    color: white;
    text-align: center;
}
.cutom_button_group_company {
    float: right;
    margin-left: 69%;
}
#copmany_table tbody tr td:last-child {
    border: 1px solid;
    padding: 2px !important;
    text-align: left;
    text-indent: 1em;
}
#company_delete_btn {
    padding-left: 429px;
}
.company_name_err {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 100%;
    color: #dc3545;
}
#company_body {
    width: 59% !important;
}
#company_list_tbody {
    text-align: center;
}
#copmany_table thead th:nth-of-type(1) {
    width: 45px;
}
#copmany_table thead th:nth-of-type(2) {
    width: 200px
}


