/*-----------------Department Master-----------------------*/
.department_name_err {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 100%;
    color: #dc3545;
}
.section_err {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 100%;
    color: #dc3545;
}
#department_registration {
    background-color: #3c4b5d;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}
#department_cancel {
    background-color: #FC4136;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}
#department_inactive_btn {
    background: indianred;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    display: inline-block;
}
#department_table td, th {
    border: 1px solid;
    padding: 0px !important;
}
#department_table {
    width: 57%;
    border-collapse: collapse;
    font-size: 14px;
    border: 1px solid;
}
#department_table thead tr:nth-of-type(1) {
    background-color: #3c4b5d;
    color: white;
    text-align: center;
}

#department_table tbody tr td:last-child {
    width: 200px;
}
.cutom_button_group_department {
    float: right;
    margin-left: 69%;
}
#department_table td:nth-of-type(2) {
    border: 1px solid;
    padding: 2px !important;
    text-align: left;
    text-indent: 1em;
}
#department_table td:nth-of-type(3) {
    border: 1px solid;
    padding: 2px !important;
    text-align: left;
    text-indent: 1em;
}
#department_delete_btn {
    padding-left: 539px;
}
#department_list_tbody {
    text-align: center;
    /*height: 133px;*/
}
#department_table thead th:nth-of-type(1) {
    width: 45px;
}
#department_table thead th:nth-of-type(2) {
    width: 200px
}
#department_table thead th:nth-of-type(3) {
    width: 100px
}
#department_body {
    width: 59% !important;
}
