/*-----------------In-Charge Master-----------------------*/
#incharge_inactive_btn {
    background: indianred;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    display: inline-block;
}
#incharge_registration {
    background-color: #3c4b5d;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}
#incharge_cancel {
    background-color: #FC4136;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}
#incharge_delete_btn {
    padding-left: 429px;
}
#section_table td, th {
    border: 1px solid;
    padding: 0px !important;
    text-align: center;
}

#section_table td, th:nth-of-type(9) {
    text-align: center;
    width: 20px;
}
#section_table td:nth-of-type(2) {
    border: 1px solid;
    padding: 2px !important;
    text-align: left;
    text-indent: 1em;
}
#incharge_table td, th {
    border: 1px solid;
    padding: 0px !important;
}

#incharge_table {
    width: 47%;
    border-collapse: collapse;
    font-size: 14px;
    border: 1px solid;
}

#incharge_table thead tr:nth-of-type(1) {
    background-color: #3c4b5d;
    color: white;
    text-align: center;
}

.cutom_button_group_incharge {
    float: right;
    margin-left: 69%;
}

#incharge_table tbody tr td:last-child {
    border: 1px solid;
    padding: 2px !important;
    text-align: left;
    text-indent: 1em;
}
.incharge_name_err {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 100%;
    color: #dc3545;
}
#incharge_list_tbody {
    text-align: center;
    /*height: 133px;*/
}

#incharge_table thead th:nth-of-type(1) {
    width: 45px;
}

#incharge_table thead th:nth-of-type(2) {
    width: 200px
}



