/*-----------------Modal Registration: START-----------------------*/

.module-label-txt {
    text-align: right;
}

#section_name_lbl {
    padding-top: 10px;
}

.section_name_err {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 100%;
    color: #dc3545;
}

.cutom_button_group_section {
    float: right;
    margin-left: 69%;
}

#section_cancel {
    background-color: #FC4136;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

#section_registration_btn {
    background-color: #3c4b5d;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

.dept_name_err {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 100%;
    color: #dc3545;
}

.section_with_dept_err {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 100%;
    color: #dc3545;
}

.cutom_button_group_department {
    float: right;
    margin-left: 69%;
}

#department_cancel {
    background-color: #FC4136;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

#department_registration_btn {
    background-color: #3c4b5d;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

.incharge_name_err {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 100%;
    color: #dc3545;
}

.custom_btn_icharge {
    float: right;
    margin-left: 69%;
}

#incharge_cancel {
    background-color: #FC4136;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

#incharge_registration {
    background-color: #3c4b5d;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

.role_name_err {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 100%;
    color: #dc3545;
}

.custom_btn_role {
    float: right;
    margin-left: 69%;
}

#role_cancel {
    background-color: #FC4136;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

#role_registration {
    background-color: #3c4b5d;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

.explanations_name_err {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 100%;
    color: #dc3545;
}

.custom_btn_explanations {
    float: right;
    margin-left: 69%;
}

#explanation_cancel {
    background-color: #FC4136;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

#explanation_registration {
    background-color: #3c4b5d;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

.custom_btn_company {
    float: right;
    margin-left: 69%;
}

#company_cancel {
    background-color: #FC4136;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

#company_registration {
    background-color: #3c4b5d;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

.company_name_err {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 100%;
    color: #dc3545;
}


/*-----------------Modal Registration: END-----------------------*/