/*----------------------------------------------Name List: Start----------------------------------------------*/
/* body {
    font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff;
} */
.container{
    border-collapse: collapse;
    font-size: 10px;
    font-family: Yu Gothic;
    line-height: 1;
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #3c4b5d !important;
    border-color: #3c4b5d !important;
    color: white !important;
}
.page-link {
    color: black !important;
}


/*----------------------------------------------Name List: END----------------------------------------------*/