/*----------------------------------------------Name List: Start----------------------------------------------*/
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #3c4b5d !important;
    border-color: #3c4b5d !important;
    color: white !important;
}
.page-link {
    color: black !important;
}

#name-list tbody td:nth-of-type(2) {
    text-align: center;
}

#name-list tbody td:nth-of-type(3) {
    text-align: center;
}

#name-list tbody td:nth-of-type(4) {
    text-align: center;
}

#name-list tbody td:nth-of-type(5) {
    text-align: center;
}

#name-list tbody td:nth-of-type(7) {
    text-align: center;
}

#name-list tbody td:nth-of-type(8) {
    text-align: center;
}
#namelist_tbl_header {
    font-size: 10px !important;
    line-height: 0;
    height: 20px;
    background-color: #3c4b5d;
    color: white;
    border: 1px solid;
    padding: 0px !important;
    text-align: center;
}


#name_list_grade {
    width: 60px !important;
}
#name_list_unit {
    width: 84px !important;
}
#name_list_company {
    width: 125px !important;
}

/*-------name list: search filter: auto width-------*/
#name_search {
    min-width: 100%;
}

.namelist_addname {
    text-decoration: underline;
    cursor: pointer;
}
#name-list td, th {
    border: 1px solid;
}

/*-------namelist: registration popup button-------*/
.master_setting_popup {
    border-collapse: collapse;
    font-size: 10px;
    font-family: Yu Gothic;
}

.name_list_th.name {
    text-align: center;
    width: 195px !important;
}

.name_list_th.section {
    text-align: center;
    width: 119px !important;
}

.name_list_th.department {
    text-align: center;
    width: 82px !important;
}

.name_list_th.incharge {
    text-align: center;
    width: 131px !important;
}

.name_list_th.company {
    text-align: center;
    margin-left: 185px;
}

/*-------namelist table design-------*/
#name-list {
    width: 120% !important;
    border-collapse: collapse !important;
    font-size: 10px !important;
    font-family: Yu Gothic !important;
}

#name-list>tbody>tr>td {
    width: 1px !important;
    white-space: nowrap !important;
}

.name_list_th {
    border: none;
    text-align: center;
}

#name-list thead tr:nth-of-type(2) th {
    text-align: center;
}

.name_list_th a {
    background: #4472C4;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    display: inline-block;
}

#name-list tbody td:nth-of-type(9) {
    text-align: right;
}

#name-list tbody td:nth-of-type(10) {
    width: 62px;
    text-align: right;
}

/*------------add name: design modify---------*/
#add_name_table_1 {
    border-collapse: collapse;
    font-size: 10px;
    font-family: Yu Gothic;
}

.odd {
    line-height: 2px;
}

.even {
    line-height: 2px;
}

#add_name_action {
    width: 126px;
}
/*--------------Name list: add name popup------------*/
#add_name_table_2 th,
td {
    border: 1px solid black !important;
}

#add_name_table_2 {
    border-collapse: collapse;
    font-size: 10px;
    font-family: Yu Gothic;
}

    #add_name_table_2 thead tr:nth-of-type(1) {
        text-align: center;
        background-color: #3c4b5d;
        color: white;
    }

    #add_name_table_2 tbody tr:nth-of-type(1) {
        background-color: #F2F2F2;
    }

    #add_name_table_2 th,
    td {
        border: 1px solid black !important;
    }

#add_name_table_3 th,
td {
    border: 1px solid black !important;
}

#add_name_table_3 {
    border: 1px solid black !important;
    width: 100%;
}

#add_name_table_3 thead tr:nth-of-type(1) {
    text-align: center;
    background-color: #3c4b5d;
    color: white;
}


#add_name_add {
    background-color: #3c4b5d;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
    margin-bottom: 20px;
}

#add_name_edit {
    background-color: #3c4b5d;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
    margin-bottom: 20px;
}

#add_name_cancel {
    background-color: #3c4b5d;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
    margin-bottom: 20px;
}

#namelist_tbl_search {
    height: 17px;
}

.namelist_listbody, td {
    border: 1px solid #ccc !important;
    border-collapse: separate;
    border-spacing: 4px;
}

.namelist_tbl > thead > tr > th:before, .namelist_tbl > thead > tr > th:after {
    content: none !important;
}


.namelist_tbl, td {
    border: 1px solid #ccc !important;
    border-collapse: separate;
    border-spacing: 4px;
}
/*----------------Edit/Delete Links-------------------*/
#edit_button {
    background: cornflowerblue;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    display: inline-block;
}

#delete_button {
    background: indianred;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    display: inline-block;
}

/*-------------Name list: Dropdown check -----------------*/
.multiselect {
    position: absolute;
    margin: -12px;
    padding-left: 13px;
}

.selectBox {
    position: relative;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
/*------Section -------*/
#sectionChks {
    display: none;
    border: 1px #dadada solid;
}

    #sectionChks label {
        display: block;
    }

        #sectionChks label:hover {
            background-color: #1e90ff;
        }
/*------Department -------*/

#departmentChks {
    display: none;
    border: 1px #dadada solid;
}

    #departmentChks label {
        display: block;
    }

        #departmentChks label:hover {
            background-color: #1e90ff;
        }
/*------Incharge -------*/
#inchargeChks {
    display: none;
    border: 1px #dadada solid;
}

    #inchargeChks label {
        display: block;
    }

        #inchargeChks label:hover {
            background-color: #1e90ff;
        }
/*------Role -------*/
#RoleChks {
    display: none;
    border: 1px #dadada solid;
}

    #RoleChks label {
        display: block;
    }

        #RoleChks label:hover {
            background-color: #1e90ff;
        }

#ExplanationChks {
    display: none;
    border: 1px #dadada solid;
}
/*------Company -------*/
#CompanyChks {
    display: none;
    border: 1px #dadada solid;
}

    #CompanyChks label {
        display: block;
    }

        #CompanyChks label:hover {
            background-color: #1e90ff;
        }

.commonselect {
    font-weight: normal !important;
    background-color: aliceblue;
    text-align: left;
}
/*---------------------------------------name list: look and feel like excel sheet--------------------------*/
.namelist_td.name {
    text-align: center;
    width: 165px !important;
}

.namelist_td.section {
    text-align: center;
    width: 74px !important;
}

.namelist_td.department {
    text-align: center;
    width: 90px !important;
}

.namelist_td.InCharge {
    text-align: center;
    width: 115px !important;
}

.namelist_td.Role {
    text-align: center;
    width: 70px !important;
}

.namelist_td.Explanation {
    text-align: left;
    width: 250px !important;
    text-indent: 1em;
}

.namelist_td.Company {
    text-align: left;
    width: 80px !important;
    text-indent: 1em;
}

.namelist_td.Action {
    text-align: left;
    width: 100px !important;
}

.namelist_td.GradePoint {
    text-align: center;
    width: 45px !important;
    text-indent: 1em;
}

.namelist_td.UnitPrice {
    text-align: center;
    width: 60px !important;
    text-indent: 1em;
}
/*----------------Name list: Dropdown width--------------*/
.selectBox.section select {
    width: 80px;
    font-weight: normal;
    height: 22px;
}

.selectBox.department select {
    width: 110px;
    font-weight: normal;
    height: 22px;
}

.selectBox.incharge select {
    width: 75px;
    font-weight: normal;
    height: 22px;
}

.selectBox.role select {
    width: 48px;
    font-weight: normal;
    height: 22px;
}

.selectBox.explanation select {
    width: 255px;
    font-weight: normal;
    height: 22px;
}

.selectBox.company select {
    width: 86px;
    font-weight: normal;
    height: 22px;
}
/*--------Name list: dropdown close outside click---------*/
.container {
    position: relative;
    display: inline-block;
}

.selectBox {
    cursor: pointer;
    user-select: none;
    z-index: 1;
}

.forecast_checkbox {
    cursor: pointer;
    user-select: none;
    z-index: 1;
}

.commonselect {
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    background: #eee;
    padding: 1rem;
    z-index: 2;
    width: 150px;
}
/*--------------Name list: edit popup------------*/
#modal_edit_name {
    border-collapse: collapse;
    font-size: 10px;
    font-family: Yu Gothic
}

#name_edit {
    width: 131px;
    opacity: .7;
}

#memo_edit {
    width: 90px;
}

#section_edit {
    width: 89px;
}

#department_edit {
    width: 100px;
}

#incharge_edit {
    width: 120px;
}

#role_edit {
    width: 73px;
}

#explanation_edit {
    width: 220px;
}

#company_edit {
    width: 109px;
}

#grade_edit {
    width: 46px;
}

#unitprice_edit {
    width: 100px;
}
/*----------------------------------------------Name List: END----------------------------------------------*/