/*-----------------Salary Master-----------------------*/
#salary_registration {
    background-color: #3c4b5d;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}
#salary_cancel {
    background-color: #FC4136;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}
#salary_confirm {
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}
/*#salary_inactive_btn {
    background: indianred;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    display: inline-block;
}
#salary_table td, th {
    border: 1px solid;
    padding: 0px !important;
}*/
/*#salary_table {
    width: 47%;
    border-collapse: collapse;
    font-size: 14px;
    border: 1px solid;
}
#salary_table thead tr:nth-of-type(1) {
    background-color: #3c4b5d;
    color: white;
    text-align: center;
}*/
.custom_button_group_salary {
    float: right;
    margin-left: 69%;
}
/*#salary_table tbody tr td:last-child {
    border: 1px solid;
    padding: 2px !important;
    text-align: left;
    text-indent: 1em;
}*/
/*#salary_delete_btn {
    padding-left: 429px;
}*/
.salary_year_err, .salary_department_name_err, .salary_salaryType_err, .salary_gradeId_name_err, .salary_beginning_name_err, .salary_revision_name_err {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 100%;
    color: #dc3545;
}
/*#salary_list_tbody {
    text-align: center;
}
#salary_table thead th:nth-of-type(1) {
    width: 45px;
}
#salary_table thead th:nth-of-type(2) {
    width: 200px
}*/

#salary_body {
    width: 59% !important;
}


/****** show list *******/
#grade_table td, th {
    border: 1px solid;
    padding: 0px !important;
    text-align: center;
}

    #grade_table td, th:nth-of-type(9) {
        text-align: center;
        width: 20px;
    }

        #grade_table td:nth-of-type(2) {
            border: 1px solid;
            padding: 2px !important;
            text-align: left;
            text-indent: 1em;
        }

#commonmaster_list_tbody {
    text-align: center;
}

#grade_name_lbl {
    padding-top: 10px;
}

#grade_body {
    width: 59% !important;
}

#grade_table {
    width: 85%;
    border-collapse: collapse;
    font-size: 14px;
    border: 1px solid;
}

#grade_table thead tr:nth-of-type(1) {
    background-color: #3c4b5d;
    color: white;
    text-align: center;
}

#grade_table thead th:nth-of-type(2) {
    width: 200px
}

#grade_table thead th:nth-of-type(3) {
    width: 100px
}

#grade_table thead th:nth-of-type(1) {
    width: 45px;
}
#add_name_search_button {
    background-color: #3c4b5d;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 7px;
    display: inline-block;
    float: right;
    margin-bottom: 23px;
}
