@model CostAllocationApp.ViewModels.SalaryViewModel
@{
    ViewBag.Title = "Grade Salary Type Registration";
}
@section Styles {
    @* <link rel="stylesheet" type="text/css" href="/Content/common.css" /> *@
    <link rel="stylesheet" type="text/css" href="/Content/salaries_ver02.css" />
}
    <div class="content container-fluid">
         
        <!--one line input form start-->
        <div class="content container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mt-4" id="name_registration_div">
                                <table id="name_registration" >
                                    <thead style="border: none;">
                                        <tr>
                                        </tr>
                                        <tr>
                                            <th>Year</th>
                                            <th>Salary Type</th>
                                            <th>Department</th>
                                            <th>Grades</th>
                                            <th colspan="2">Amount</th>                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td id="salary_year_input_td">
                                                <select id="salary_year_input">
                                                    <option value="">select year</option>
                                                    <option>2022</option>
                                                </select>
                                            </td>
                                            <td id="salary_type_input_td">
                                                <select id="salary_type_input">
                                                </select>
                                            </td>
                                            <td id="salary_department_input_td">
                                                <select id="salary_department_input">
                                                    <option>select department</option>
                                                    <option>executive</option>
                                                </select>
                                            </td>
                                            <td id="salary_grade_input_td">
                                                <select id="salary_grade_input">
                                                    <option>select grade</option>
                                                    <option>g10</option>
                                                </select>
                                            </td>
                                            <td id="salary_amountlow_input_td">
                                                <input type="number" value="" placeholder="low" id="salary_amountlow_input">
                                            </td>
                                            <td id="salary_amounthigh_input_td">
                                                <input type="number" value="" placeholder="high" id="salary_amounthigh_input">
                                            </td> 
                                        </tr>                                       
                                    </tbody>
                                </table>
        
                                <div class="add_name_tbl_2_btn">
                                    <a href="javascript:void(0);" class="" id="add_name_cancel" data-dismiss="modal">Cancel</a>
                                    <a href="javascript:void(0);" class="" id="add_name_add_new" onclick="SaveSalaryType();">Save</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/><br/>
        <div class="row" id="salary_type_list_search">
            <div class="col-2">
                <div class="form-group">
                    <select class="form-control" id="salary_year_list">
                        <option value="">select year</option>
                        <option value="2022">2022</option>
                    </select>
                    <div class="salary_year_err">
                        Select Year
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <a href="javascript:void(0);" class="" id="add_name_search_button">Show List</a>
                </div>
            </div>

        </div>
        @* <div id="salary_master_list" style="display: block;"> *@
        <div id="salary_master_list">
            <h4 style="text-align:left;">List</h4>
            <div class="row">            
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="" id="grade_table">
                            <thead id="gradelist_thead">
                                <tr>
                                    <th colspan="6">FY2022</th>
                                </tr>
                                <tr id="grade_list_first_header">
                                    <th class="gradelist_th"></th>
                                    <th class="gradelist_th"></th>
                                    <th class="gradelist_th">期初目標 (Low)</th>
                                    <th class="gradelist_th">下修目標 (High)</th>
                                    <th class="gradelist_th">期初目標 (Low)</th>
                                    <th class="gradelist_th">下修目標 (High)</th>
                                </tr>
                                <tr id="grade_list_sub_header">
                                    <th colspan="1" class="gradelist_th"></th>
                                    <th class="gradelist_th">グレード (Grade)</th>
                                    <th colspan="2" class="gradelist_th">企画 (Planing)</th>
                                    <th colspan="2" class="gradelist_th">開発 (Development)</th>
                                </tr>
                            </thead>
                            <tbody id="salary_master_list_tbl">                                
                            </tbody>
                        </table>

                        <!--scroll purpose-->
                        <br>
                        <br>
                        ,<style>
                            table {
                                width: 100%;
                                display:block;
                            }
                            thead {
                                display: inline-block;
                                width: 100%;
                                height: 20px;
                            }
                            tbody {
                                height: 200px;
                                display: inline-block;
                                width: 100%;
                                overflow: auto;
                            }
                            
                        </style>
                        <table>
                        <thead>
                            <tr>
                                <th>Head 1</th>
                                <th>Head 2</th>
                                <th>Head 3</th>
                                <th>Head 4</th>
                                <th>Head 5</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Content 1</td>
                                <td>Content 2</td>
                                <td>Content 3</td>
                                <td>Content 4</td>
                                <td>Content 5</td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
    <br><br>
    <br><br>
    <input type="hidden" id="salary_warning_text" /> 

    @section Scripts{
        <script src="/Scripts/common.js"></script>
        <script src="/Scripts/salaries_ver02.js"></script>
    }