@{
    ViewBag.Title = "Department Registration";
}

<div class="content container-fluid">
    <!--List-->
    <h4>List</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="">
                <table class="" id="department_table">
                    <thead>
                        <tr>
                            <th>Check</th>
                            <th>Department Name</th>
                            <th>Section</th>
                        </tr>
                    </thead>
                    <tbody id="department_list_tbody">
                        <tr>
                            <td><input type="checkbox" class="department_list_chk" /></td>
                            <td>Marketing</td>
                            <td>Development</td>

                        </tr>
                        <tr>
                            <td><input type="checkbox" class="department_list_chk" /></td>
                            <td>Finance</td>
                            <td>Sales</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" class="department_list_chk" /></td>
                            <td>Operations management</td>
                            <td>Products</td>

                        </tr>
                        <tr>
                            <td><input type="checkbox" class="department_list_chk" /></td>
                            <td>Human Resource</td>
                            <td>Industrial</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" class="department_list_chk" /></td>
                            <td>IT</td>
                            <td>Others</td>
                        </tr>
                    </tbody>
                </table>
                <label id="department_delete_btn">
                    <a id="delete_button" href="javascript:void();" data-toggle="modal" data-target="#namelist_delete">Delete</a>
                    @*<a id="edit_button" href="javascript:void();" data-toggle="modal" data-target="#edit_department_modal">Edit</a>*@
                </label>
            </div>
        </div>
    </div>
    <br />
    <div class="modal-content" id="department_body">
        <div class="modal-body">
            <form>
                <div id="main-div">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="department-name">Department Name <span class="text-danger">*</span></label>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <input class="form-control" id="department-name" type="text" placeholder="department name...">
                                <div class="department-name-error">
                                    Please provide a department name.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="department-name">Section Name <span class="text-danger">*</span></label>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <select id="section-name" class="form-control col-12" style="width:100% !important; border:1px solid #e3e3e3 !important;">
                                    <option value="">Select Section</option>
                                    <option value="">Development</option>
                                    <option value="">HR</option>
                                    <option value="">Section-3</option>
                                </select>
                                <div class="department-name-error">
                                    Please provide a Section name.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="cutom_button_group_department">
                        <a href="javascript:void(0);" id="custom_cancel">Cancel</a>
                        <a href="javascript:void(0);" id="custom_submit" onclick="AddDepartment();">Registration</a>
                    </div>
                </div>

                <style>

                    #plus-icon {
                        visibility: hidden;
                    }
                </style>
            </form>
        </div>
    </div>

</div>

<script>
    function AddDepartment() {
        let departmentName = $("#department-name").val();
        if (departmentName == "") {
            $(".department-name-error").show();

            Command: toastr["success"]("Saved", "Success")
            //Command: toastr["error"]("Failed to Save", "Failed")

            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "3000",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            return false;
        }
    }
</script>

<!-- Edit Salary Modal -->
<div id="edit_department_modal" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Department</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="department-name">Department Name <span class="text-danger">*</span></label>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <input class="form-control" id="department-name" type="text" value="Operations management" placeholder="department name...">
                                <div class="department-name-error">
                                    Please provide a department name.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="department-name">Section Name <span class="text-danger">*</span></label>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <select id="section-name" class="form-control col-12" style="width:100% !important; border:1px solid #e3e3e3 !important;">
                                    <option value="">Select Section</option>
                                    <option value="" selected>Development</option>
                                    <option value="">HR</option>
                                    <option value="">Section-3</option>
                                </select>
                                <div class="department-name-error">
                                    Please provide a Section name.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-btn delete-action">
                        <div class="row">
                            <div class="col-6">
                                <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                            </div>
                            <div class="col-6">
                                <a href="javascript:void(0);" class="btn btn-primary continue-btn" data-dismiss="modal" onclick="AddDepartment();">Update</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Salary Modal -->
<!-- Delete Salary Modal -->
<div class="modal custom-modal fade" id="namelist_delete" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Department</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Salary Modal -->