
@{
    ViewBag.Title = "In-Charge Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Main Body-->
<div class="content container-fluid">
    <!--List-->
    <h4 style="text-align:left;">List</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="">
                <table class="" id="incharge_table">
                    <thead>
                        <tr>
                            <th>Check</th>
                            <th>In-Charge Name</th>
                        </tr>
                    </thead>
                    <tbody id="incharge_list_tbody">
                        
                    </tbody>
                </table>
                <label id="incharge_delete_btn">
                    <a id="delete_button" href="javascript:void();" data-toggle="modal" data-target="#del_incharge_modal">Delete</a>
                </label>
            </div>
        </div>
    </div>
    <!--Section List End-->
    <br />
    <!-- Add Designation Modal -->
    <div class="modal-content" id="section_body">
        <style>
        </style>
        <div class="modal-body">
            <form>
                <div id="main-div">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="in_charge_name">In-Charge Name <span class="text-danger">*</span></label>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <input class="form-control" id="in_charge_name" type="text" placeholder="incharge name...">
                                <div class="department-name-error">
                                    Please provide a In-Charge name.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="cutom_button_group_incharge">
                        <a href="javascript:void(0);" id="custom_cancel">Cancel</a>
                        <a href="javascript:void(0);" id="custom_submit" onclick="AddInCharge();">Registration</a>
                    </div>
                </div>
                <style>

                    #plus-icon {
                        visibility: hidden;
                    }
                </style>
            </form>
        </div>
    </div>
    <br><br>
    <!--Section Create End-->

</div>
@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $.getJSON('/api/InCharges/')
                .done(function (data) {
                    $('#incharge_list_tbody').empty();
                    $.each(data, function (key, item) {
                        // Add a list item for the product.
                        $('#incharge_list_tbody').append(`<tr><td><input type="checkbox" class="in_charge_list_chk" data-id='${item.Id}' /></td><td>${item.InChargeName}</td></tr>`);
                    });
                });


            $('#confirm_delete').on('click', function (event) {
                event.preventDefault();
                var id = '';

                var sectionIds = $("#incharge_list_tbody tr input[type='checkbox']:checked").map(function () {
                    return $(this).data('id')
                }).get();

                $.each(sectionIds, (index, data) => {
                    id += data+",";
                });

                id = id.slice(0, -1);
                console.log(id);

                $.ajax({
                    url: '/api/InCharges?inChargeIds=' + id,
                    type: 'DELETE',
                    success: function (data) {
                        Command: toastr["success"](data, "Success")

                        toastr.options = {
                            "closeButton": false,
                            "debug": false,
                            "newestOnTop": false,
                            "progressBar": false,
                            "positionClass": "toast-top-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "3000",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        }


                        $.getJSON('/api/InCharges/')
                            .done(function (data) {
                                $('#incharge_list_tbody').empty();
                                $.each(data, function (key, item) {
                                    // Add a list item for the product.
                                    $('#incharge_list_tbody').append(`<tr><td><input type="checkbox" class="in_charge_list_chk" data-id='${item.Id}' /></td><td>${item.InChargeName}</td></tr>`);
                                });
                            });
                    },
                    error: function (data) {
                        Command: toastr["warning"](data.responseText, "Warning")

                        toastr.options = {
                            "closeButton": false,
                            "debug": false,
                            "newestOnTop": false,
                            "progressBar": false,
                            "positionClass": "toast-top-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "3000",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        }

                    }
                });

                $('#del_incharge_modal').modal('toggle');

            });
        });


        function AddInCharge() {
            var apiurl = "/api/incharges/";
            let in_charge_name = $("#in_charge_name").val().trim();
            if (in_charge_name == "") {
                $(".department-name-error").show();
                return false;
            }
            else {
                $(".department-name-error").hide();
                var data = {
                    InChargeName: in_charge_name
                };

                $.ajax({
                    url: apiurl,
                    type: 'POST',
                    dataType: 'json',
                    data: data,
                    success: function (data) {

                        Command: toastr["success"](data, "Success")

                        toastr.options = {
                            "closeButton": false,
                            "debug": false,
                            "newestOnTop": false,
                            "progressBar": false,
                            "positionClass": "toast-top-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "3000",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        }
                        $('#section-name').val('');

                        $.getJSON('/api/incharges/')
                            .done(function (data) {
                                $('#incharge_list_tbody').empty();
                                $.each(data, function (key, item) {
                                    // Add a list item for the product.
                                    $('#incharge_list_tbody').append(`<tr><td><input type="checkbox" class="in_charge_list_chk" data-id='${item.Id}' /></td><td>${item.InChargeName}</td></tr>`);
                                });
                            });
                    },
                    error: function () {
                        alert("Error please try again");
                    }
                });
            }
        }
    </script>

}

<!-- /Page Content -->
<!-- Edit Salary Modal -->
<div id="edit_section_modal" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Section</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-4">
                            <label for="divison-name" id="section_name_lbl">Section Name <span class="text-danger">*</span></label>
                        </div>
                        <div class="col-8">
                            <div class="form-group">
                                <input class="form-control" id="divison-name" type="text" value="Development" placeholder="section name..">
                                <div class="division-name-error">
                                    Please provide a section name.
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-btn delete-action">
                        <div class="row">
                            <div class="col-6">
                                <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                            </div>
                            <div class="col-6">
                                <a href="javascript:void(0);" class="btn btn-primary continue-btn" data-dismiss="modal" onclick="AddDivision();">Update</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Salary Modal -->
<!-- Delete Salary Modal -->
<div class="modal custom-modal fade" id="del_incharge_modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete In-Charge</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn" id="confirm_delete">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Salary Modal -->
