
@{
    ViewBag.Title = "In-Charge Registration";
}
@section Styles {
    <link rel="stylesheet" type="text/css" href="/Content/common.css" />
    <link rel="stylesheet" type="text/css" href="/Content/incharge.css" />
}

<div class="content container-fluid">

    <!--List-->
    <h4 style="text-align:left;">List</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="">
                <table class="" id="incharge_table">
                    <thead>
                        <tr>
                            <th>Check</th>
                            <th>In-Charge Name</th>
                        </tr>
                    </thead>
                    <tbody id="incharge_list_tbody"></tbody>
                </table>
                <label id="incharge_delete_btn">
                    <a id="incharge_inactive_btn" href="javascript:void();" data-toggle="modal" onclick="onInchargeInactiveClick();" data-target="#del_incharge_modal">Delete</a>
                </label>
            </div>
        </div>
    </div>
    <br />

    <div class="modal-content" id="incharge_body">
        <div class="modal-body">
            <form>
                <div id="main-div">
                    <div class="row">
                        <div class="col-sm-4 module-label-txt">
                            <div class="form-group">
                                <label for="in_charge_name">In-Charge Name <span class="text-danger">*</span></label>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <input class="form-control" id="in_charge_name" type="text" placeholder="incharge name...">
                                <div class="incharge_name_err">
                                    Please provide a In-Charge name.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="cutom_button_group_incharge">
                        <a href="javascript:void(0);" id="incharge_cancel">Cancel</a>
                        <a href="javascript:void(0);" id="incharge_registration" onclick="InsertInCharge();">Registration</a>
                    </div>
                </div>
                <style>

                    #plus-icon {
                        visibility: hidden;
                    }
                </style>
            </form>
        </div>
    </div>
    <br><br>
    <!--Section Create End-->

</div>
<input type="hidden" id="incharge_warning_text" />
<!-- incharge inactive modal -->
<div class="modal custom-modal fade" id="del_incharge_modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete In-Charge</h3>
                    <ol class="incharge_count" style="text-align:left;"></ol>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn" id="incharge_inactive_confirm_btn">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="/Scripts/common.js"></script>    
    <script src="/Scripts/incharge.js"></script>            
}

