@model CostAllocationApp.ViewModels.CommonMasterViewModel
@{
    ViewBag.Title = "Create Common Master";
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="/Content/common.css" />
    <link rel="stylesheet" type="text/css" href="/Content/common-master.css" />
}

<div class="content container-fluid">
    <div class="modal-content" id="cm_body">
        <div class="modal-body">
            <form>
                <div id="main-div">
                    <div class="row">
                        <div class="col-4 module-label-txt">
                            <label for="cm_grade" id="cm_name_lbl">Grades <span class="text-danger">*</span></label>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <select class="form-control" id="cm_grade">
                                    <option value="">select one</option>
                                    <option value="2023">2023</option>
                                </select>
                                <div class="cm_grade_name_err">
                                    Select Grade
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-4 module-label-txt">
                            <label for="salary_increase_rate" id="cm_name_lbl">Salary Increase Rate <span class="text-danger">*</span></label>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <input class="form-control" id="salary_increase_rate" type="number">
                                <div class="cm_sir_name_err">
                                    Input Salary Increase Rate
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-4 module-label-txt">
                            <label for="over_work_fixed_time" id="cm_name_lbl">Over Work Fixed Time <span class="text-danger">*</span></label>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <input class="form-control" id="over_work_fixed_time" type="number">
                                <div class="cm_owft_name_err">
                                    Input Over Work Fixed Time
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-4 module-label-txt">
                            <label for="bonus_reserve_ratio" id="cm_name_lbl">Bonus Reserve Ratio <span class="text-danger">*</span></label>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <input class="form-control" id="bonus_reserve_ratio" type="number">
                                <div class="cm_brr_name_err">
                                    Input Bonus Reserve Ratio
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-4 module-label-txt">
                            <label for="bonus_reserve_constant" id="cm_name_lbl">Bonus Reserve Constant <span class="text-danger">*</span></label>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <input class="form-control" id="bonus_reserve_constant" type="number">
                                <div class="cm_brc_name_err">
                                    Input Bonus Reserve Constant
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-4 module-label-txt">
                            <label for="welfare_cost_ratio" id="cm_name_lbl">Welfare Cost Ratio <span class="text-danger">*</span></label>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <input class="form-control" id="welfare_cost_ratio" type="number">
                                <div class="cm_wcr_name_err">
                                    Input Welfare Cost Ratio
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="custom_button_group_cm">
                        <a href="javascript:void(0);" id="cm_cancel">Cancel</a>
                        <a href="javascript:void(0);" id="cm_registration" onclick="InsertCommonMaster();">Create</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br><br>

    <h4 style="text-align:left;">List</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="" id="grade_table">
                    <thead>
                        <tr>
                            <th>Grade Name</th>
                            <th>Salary Increase Rate</th>
                            <th>Overtime Fixed</th>
                            <th>Bonus Reserve Ratio</th>
                            <th>Bonus Reserve Constant</th>
                            <th>Welfare cost Ratio</th>
                        </tr>
                    </thead>
                    <tbody id="commonmaster_list_tbody">
                    </tbody>
                </table>

                @* <label id="grade_delete_btn">
                    <a id="grade_inactive_btn" href="javascript:void();" data-toggle="modal" data-target="#delete_grade" onClick="ongradeInactiveClick()">Delete</a>
                </label> *@
            </div>
        </div>
    </div>
    <br />
</div>

@section Scripts{

    <script src="/Scripts/common.js"></script>
    <script src="/Scripts/common-master.js"></script>
}

