@model CostAllocationApp.ViewModels.EmployeeViewModel
@{
    ViewBag.Title = "Add Name";
}
@section Styles {
    <link href="/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/common.css" rel="stylesheet" type="text/css" />
    <link href="/Content/addname_ver02.css" rel="stylesheet" type="text/css" />
}
<div class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table id="add_name_search" class="custom_add_name">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Section</th>
                        <th>Department</th>
                        <th>Allocation</th>
                        <th>Company</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="text" class="add_name_name_filter" id="identity_search" placeholder="name">
                        </td>
                        <td>
                            <select id="section_search" class="add_name_section_filter"></select>
                        </td>
                        <td>
                            <select id="department_search" class="add_name_department_filter"></select>
                        </td>
                        <td>
                            <select id="explanation_search" class="add_name_explanation_filter"></select>
                        </td>
                        <td>
                            <select id="company_search" class="add_name_company_filter"></select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6"></td>
                        <td>
                            <a href="javascript:void(0);" class="" id="add_name_search_button">Search</a>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 custom_add_name">
            <div id="addname_table" style="display: none;">
                <a class="" href="/Employees/Nameregistration" target="_blank">Name Reg.</a>
                <table id="add_name_table_1">
                    <thead>
                        <tr>
                            <th> </th>
                            <th id="add_name_name">Name <i class="fa fa-sort-amount-asc" id="name_asc" aria-hidden="true"></i><i class="fa fa-sort-amount-desc" style="display:none;" id="name_desc" aria-hidden="true"></i></th>
                            <th id="add_name_subcode" style="width:59px;">SubCode <i class="fa fa-sort-amount-asc" id="subcode_asc" aria-hidden="true"></i><i class="fa fa-sort-amount-desc" style="display:none;" id="subcode_desc" aria-hidden="true"></i></th>
                            <th id="add_name_memo">Memo <i class="fa fa-sort-amount-asc" id="memo_asc" aria-hidden="true"></i><i class="fa fa-sort-amount-desc" style="display:none;" id="memo_desc" aria-hidden="true"></i></th>
                            <th id="add_name_section">Section <i class="fa fa-sort-amount-asc" id="section_asc" aria-hidden="true"></i><i class="fa fa-sort-amount-desc" style="display:none;" id="section_desc" aria-hidden="true"></i></th>
                            <th id="add_name_department">Department <i class="fa fa-sort-amount-asc" id="department_asc" aria-hidden="true"></i><i class="fa fa-sort-amount-desc" style="display:none;" id="department_desc" aria-hidden="true"></i></th>
                            <th id="add_name_explanation">Allocation <i class="fa fa-sort-amount-asc" id="explanation_asc" aria-hidden="true"></i><i class="fa fa-sort-amount-desc" style="display:none;" id="explanation_desc" aria-hidden="true"></i></th>
                            <th id="add_name_company">Company Name <i class="fa fa-sort-amount-asc" id="company_asc" aria-hidden="true"></i><i class="fa fa-sort-amount-desc" style="display:none;" id="company_desc" aria-hidden="true"></i></th>
                            <th id="add_name_grade">Grade <i class="fa fa-sort-amount-asc" id="grade_asc" aria-hidden="true"></i><i class="fa fa-sort-amount-desc" style="display:none;" id="grade_desc" aria-hidden="true"></i></th>
                            <th id="add_name_unit">Unit Price <i class="fa fa-sort-amount-asc" id="unit_asc" aria-hidden="true"></i><i class="fa fa-sort-amount-desc" style="display:none;" id="unit_desc" aria-hidden="true"></i></th>

                            <th id="add_name_action">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

            <div id="loading" style="position:absolute;left:0;top:-147px;width:100%;height:100%;display: none;">
                <center>
                    <img src="~/img/forecast_loader.gif" height="250" width="250" style="margin-top:200px;">
                    <br>
                    <strong>Please wait a moment...</strong>
                    <br>
                    <br>
                </center>
            </div>
        </div>
    </div>
</div>

<!-- Modal Add Name -->
<div class="modal fade" id="modal_add_name" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="col-12 modal-body">
                <table id="add_name_table_2">
                    <thead>
                        <tr id="main_head">
                            <th>SL</th>
                            <th>Name</th>
                            <th>Sub Code</th>
                            <th>Memo</th>
                            <th>Section</th>
                            <th>Department</th>
                            <th>Allocation</th>
                            <th>Company</th>
                            <th>Grade</th>
                            <th>Year</th>
                            <th>Unit Price</th>
                            <th>Action <input type="hidden" value="" id="fixed_hidden_name" /></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div class="add_name_tbl_2_btn">
                    <a href="javascript:void(0);" class="" id="add_name_cancel" data-dismiss="modal">Cancel</a>
                    <a href="javascript:void(0);" class="" id="add_name_add" onclick="onSave()">Save</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Add Name (New) -->
<div class="modal fade" id="modal_add_name_new" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Name Reg.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="col-12 modal-body">
                <table id="add_name_table_new">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Memo</th>
                            <th>Section</th>
                            <th>Department</th>
                            <th>In-Charge</th>
                            <th>Role</th>
                            <th>Explanation</th>
                            <th>Company</th>
                            <th>Grade</th>
                            <th>Unit Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="text" class=" col-12" id="identity_new" placeholder="name">
                            </td>

                            <td>
                                <input type="text" class=" col-12" id="memo_new" placeholder="memo">
                            </td>
                            <td>
                                <select id="section_new" class=" col-12"></select>
                            </td>
                            <td>
                                <select id="department_new" class=" col-12"></select>
                            </td>
                            <td>
                                <select id="incharge_new" class=" col-12"></select>
                            </td>
                            <td>
                                <select id="role_new" class=" col-12"></select>
                            </td>
                            <td>
                                <select id="explanation_new" class=" col-12"></select>
                            </td>
                            <td>
                                <select id="company_new" class=" col-12"></select>
                            </td>
                            <td>
                                <input type="text" class=" col-12" id="grade_new" placeholder="grade" readonly>
                            </td>
                            <td>
                                <input type="text" class=" col-12" id="unitprice_new" placeholder="unit price">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="add_name_tbl_2_btn">
                    <a href="javascript:void(0);" class="" id="add_name_cancel" data-dismiss="modal">Cancel</a>
                    <a href="javascript:void(0);" class="" id="add_name_add_new">Save</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Edit Name -->
<div class="modal fade" id="modal_edit_name" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Info of <span id="edit_model_span"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="col-12 modal-body">
                <table id="add_name_table_3">
                    <thead>
                        <tr>
                            <th>Memo</th>
                            <th>Section</th>
                            <th>Department</th>
                            <th>Allocation</th>
                            <th>Company</th>
                            <th>Grade</th>
                            <th>Year</th>
                            <th>Unit Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="text" class=" col-12" id="memo_edit" value="" placeholder="">
                            </td>
                            <td>
                                <input type="hidden" value="" id="row_id_hidden_edit" />
                                <select id="section_edit" class=" col-12">
                                    <option value="">Select Section</option>
                                    <option value="" selected>Section-1</option>
                                    <option value="">Section-2</option>
                                    <option value="">Section-3</option>
                                </select>
                            </td>
                            <td>
                                <select id="department_edit" class=" col-12">
                                    <option value="">Select Department</option>
                                    <option value="" selected>Department-1</option>
                                    <option value="">Department-2</option>
                                    <option value="">Department-3</option>
                                </select>
                            </td>                            
                            <td>
                                <select id="explanation_edit" class=" col-12">
                                    <option value="">Select Company</option>
                                    <option value="" selected>Company-1</option>
                                    <option value="">Company-2</option>
                                    <option value="">Company-3</option>
                                </select>
                            </td>
                            <td>
                                <select id="company_edit" class=" col-12">
                                    <option value="">Select Company</option>
                                    <option value="" selected>Company-1</option>
                                    <option value="">Company-2</option>
                                    <option value="">Company-3</option>
                                </select>
                            </td>
                            <td>
                                <select id="grade_edit" class=" col-12"></select>
                            </td>
                            <td>
                                <select id="year_edit" class=" col-12">
                                    <option value="-1">Select Year</option>
                                    <option value="2022">2022</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" class=" col-12" id="unitprice_edit" placeholder="unit price">                                
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="add_name_tbl_3_btn">
                    <a href="javascript:void(0);" class="" id="add_name_cancel" data-dismiss="modal">Cancel</a>
                    <a href="javascript:void(0);" class="" id="add_name_edit">Save</a>
                </div>
            </div>
        </div>
        <input type="hidden" id="grade_edit_hidden" />
        <input type="hidden" id="grade_new_hidden" />
        <input type="hidden" id="add_name_unit_price_hidden" />
        <input type="hidden" id="add_name_row_no_hidden" />
        <input type="hidden" id="unit_price_first_project_hid" />

        <input type="hidden" id="hidGradePoints" />

        <input type="hidden" id="hid_gradeIdWithSalaryType" />
        
    </div>
</div>

@section Scripts{
    <script src="/Scripts/common.js"></script>
    <script src="/Scripts/addname_ver03.js"></script>    
}

