@{
    ViewBag.Title = "Add Name";
}

<div class="content container-fluid">
    <!-- /Page Header -->
    <div class="row">
        <div class="col-md-12">
            <table id="add_name_search" class="custom_add_name">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Section</th>
                        <th>Department</th>
                        <th>In-Charge</th>
                        <th>Role</th>
                        <th>Explanation</th>
                        <th>Company</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="text" class="form-control" id="identity_search" placeholder="name">
                        </td>
                        <td>
                            <select id="section_search" class="form-control"></select>
                        </td>
                        <td>
                            <select id="department_search" class="form-control"></select>
                        </td>
                        <td>
                            <select id="incharge_search" class="form-control"></select>
                        </td>
                        <td>
                            <select id="role_search" class="form-control"></select>
                        </td>
                        <td>
                            <select id="explanation_search" class="form-control"></select>
                        </td>
                        <td>
                            <select id="company_search" class="form-control"></select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6"></td>
                        <td>
                            <a href="javascript:void(0);" class="" id="add_name_search_button">Search</a>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>        </div>
    </div>
    <div class="row">
        <div class="col-md-12 custom_add_name">
            @*<a href="javascript:void(0);" data-toggle="modal" data-target="#modal_add_name_new">Name Reg.</a>*@
            <a class="" href="/Employees/Nameregistration" target="_blank">Name Reg.</a>
            <table id="add_name_table_1">
                <thead>
                    <tr>
                        <th> </th>
                        <th>Name</th>
                        <th>SubCode</th>
                        <th>Memo</th>
                        <th>Section</th>
                        <th>Department</th>
                        <th>In-Charge</th>
                        <th>Role</th>
                        <th>Explanation</th>
                        <th>Company</th>
                        <th>Grade</th>
                        <th>Unit Price</th>
                        <th id="add_name_action">Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

</div>



<!-- Modal Add Name -->
<div class="modal fade" id="modal_add_name" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="col-12 modal-body">
                <table id="add_name_table_2">
                    <thead>
                        <tr id="main_head">
                            <th>SL</th>
                            <th>Name</th>
                            <th>Sub Code</th>
                            <th>Memo</th>
                            <th>Section</th>
                            <th>Department</th>
                            <th>In-Charge</th>
                            <th>Role</th>
                            <th>Explanation</th>
                            <th>Company</th>
                            <th>Grade</th>
                            <th>Unit Price</th>
                            <th>Action <input type="hidden" value="" id="fixed_hidden_name" /></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div class="add_name_tbl_2_btn">
                    <a href="javascript:void(0);" class="" id="add_name_cancel" data-dismiss="modal">Cancel</a>
                    <a href="javascript:void(0);" class="" id="add_name_add" onclick="onSave()">Save</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Add Name (New) -->
<div class="modal fade" id="modal_add_name_new" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Name Reg.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="col-12 modal-body">
                <table id="add_name_table_new">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Memo</th>
                            <th>Section</th>
                            <th>Department</th>
                            <th>In-Charge</th>
                            <th>Role</th>
                            <th>Explanation</th>
                            <th>Company</th>
                            <th>Grade</th>
                            <th>Unit Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="text" class=" col-12" id="identity_new" placeholder="name">
                            </td>

                            <td>
                                <input type="text" class=" col-12" id="memo_new" placeholder="memo">
                            </td>
                            <td>
                                <select id="section_new" class=" col-12"></select>
                            </td>
                            <td>
                                <select id="department_new" class=" col-12"></select>
                            </td>
                            <td>
                                <select id="incharge_new" class=" col-12"></select>
                            </td>
                            <td>
                                <select id="role_new" class=" col-12"></select>
                            </td>
                            <td>
                                <select id="explanation_new" class=" col-12"></select>
                            </td>
                            <td>
                                <select id="company_new" class=" col-12"></select>
                            </td>
                            <td>
                                <input type="text" class=" col-12" id="grade_new" placeholder="grade" readonly>
                            </td>
                            <td>
                                <input type="text" class=" col-12" id="unitprice_new" placeholder="unit price">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="add_name_tbl_2_btn">
                    <a href="javascript:void(0);" class="" id="add_name_cancel" data-dismiss="modal">Cancel</a>
                    <a href="javascript:void(0);" class="" id="add_name_add_new">Save</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Edit Name -->
<div class="modal fade" id="modal_edit_name" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Info of <span id="edit_model_span"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="col-12 modal-body">
                <table id="add_name_table_3">
                    <thead>
                        <tr>
                            <th>Memo</th>
                            <th>Section</th>
                            <th>Department</th>
                            <th>In-Charge</th>
                            <th>Role</th>
                            <th>Explanation</th>
                            <th>Company</th>
                            <th>Grade</th>
                            <th>Unit Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @*<td>
                                <input type="text" class=" col-12" id="identity" value="Chandra Shekhar Das" placeholder="name">
                            </td>*@
                            <td>
                                <input type="text" class=" col-12" id="memo_edit" value="" placeholder="">
                            </td>
                            <td>
                                <input type="hidden" value="" id="row_id_hidden_edit" />
                                <select id="section_edit" class=" col-12">
                                    <option value="">Select Section</option>
                                    <option value="" selected>Section-1</option>
                                    <option value="">Section-2</option>
                                    <option value="">Section-3</option>
                                </select>
                            </td>
                            <td>
                                <select id="department_edit" class=" col-12">
                                    <option value="">Select Department</option>
                                    <option value="" selected>Department-1</option>
                                    <option value="">Department-2</option>
                                    <option value="">Department-3</option>
                                </select>
                            </td>
                            <td>
                                <select id="incharge_edit" class=" col-12">
                                    <option value="">Select In-Charge</option>
                                    <option value="" selected>Work Domain-1</option>
                                    <option value="">Work Domain-2</option>
                                    <option value="">Work Domain-3</option>
                                </select>
                            </td>
                            <td>
                                <select id="role_edit" class=" col-12">
                                    <option value="">Select Role</option>
                                    <option value="" selected>Role-1</option>
                                    <option value="">Role-2</option>
                                    <option value="">Role-3</option>
                                </select>
                            </td>
                            <td>
                                <select id="explanation_edit" class=" col-12">
                                    <option value="">Select Company</option>
                                    <option value="" selected>Company-1</option>
                                    <option value="">Company-2</option>
                                    <option value="">Company-3</option>
                                </select>
                            </td>
                            <td>
                                <select id="company_edit" class=" col-12">
                                    <option value="">Select Company</option>
                                    <option value="" selected>Company-1</option>
                                    <option value="">Company-2</option>
                                    <option value="">Company-3</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" class=" col-12" id="grade_edit" placeholder="" readonly>
                            </td>
                            <td>
                                <input type="text" class=" col-12" id="unitprice_edit" placeholder="unit price">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="add_name_tbl_3_btn">
                    <a href="javascript:void(0);" class="" id="add_name_cancel" data-dismiss="modal">Cancel</a>
                    <a href="javascript:void(0);" class="" id="add_name_edit">Save</a>
                </div>
            </div>
        </div>
        <input type="hidden" id="grade_edit_hidden" />
        <input type="hidden" id="grade_new_hidden" />
        <input type="hidden" id="add_name_unit_price_hidden" />
        <input type="hidden" id="add_name_row_no_hidden" />
    </div>
</div>





@section Scripts{

    <script type="text/javascript">
        let previousAssignmentRow = 0;
        let unitPrices = [];

        function loadSingleAssignmentData(id) {

            $.ajax({
                url: '/api/Utilities/AssignmentById/'+id,
                type: 'GET',
                dataType: 'json',
                success: function (assignmentData) {

                    console.log(assignmentData);
                    $('#edit_model_span').html(assignmentData.EmployeeName);
                    $('#memo_edit').val(assignmentData.Remarks);
                    $('#row_id_hidden_edit').val(id);
                    $.getJSON('/api/sections/')
                        .done(function (data) {
                            $('#section_edit').empty();
                            $('#section_edit').append(`<option value=''>Select Section</option>`);
                            $.each(data, function (key, item) {
                                if (item.Id == assignmentData.SectionId) {
                                    $('#section_edit').append(`<option value='${item.Id}' selected>${item.SectionName}</option>`);
                                }
                                else {
                                    $('#section_edit').append(`<option value='${item.Id}'>${item.SectionName}</option>`);
                                }

                            });
                        });

                    $.getJSON(`/api/departments`)
                        .done(function (data) {
                            $('#department_edit').empty();
                            $('#department_edit').append(`<option value=''>Select Department</option>`);
                            $.each(data, function (key, item) {
                                if (item.Id == assignmentData.DepartmentId) {
                                    $('#department_edit').append(`<option value='${item.Id}' selected>${item.DepartmentName}</option>`);
                                }
                                else {
                                    $('#department_edit').append(`<option value='${item.Id}'>${item.DepartmentName}</option>`);
                                }

                            });
                        });

                    $.getJSON('/api/incharges/')
                        .done(function (data) {
                            $('#incharge_edit').empty();
                            $('#incharge_edit').append(`<option value=''>Select In-Charge</option>`);
                            $.each(data, function (key, item) {
                                if (item.Id == assignmentData.InchargeId) {
                                    $('#incharge_edit').append(`<option value='${item.Id}' selected>${item.InChargeName}</option>`);
                                }
                                else {
                                    $('#incharge_edit').append(`<option value='${item.Id}'>${item.InChargeName}</option>`);
                                }

                            });
                        });


                    $.getJSON('/api/Roles/')
                        .done(function (data) {
                            $('#role_edit').empty();
                            $('#role_edit').append(`<option value=''>Select Role</option>`);
                            $.each(data, function (key, item) {
                                if (item.Id == assignmentData.RoleId) {
                                    $('#role_edit').append(`<option value='${item.Id}' selected>${item.RoleName}</option>`);
                                }
                                else {
                                    $('#role_edit').append(`<option value='${item.Id}'>${item.RoleName}</option>`);
                                }

                            });
                        });


                    $.getJSON('/api/Explanations/')
                        .done(function (data) {
                            $('#explanation_edit').empty();
                            $('#explanation_edit').append(`<option value=''>Select Explanation</option>`);
                            $.each(data, function (key, item) {
                                if (item.Id == assignmentData.ExplanationId) {
                                    $('#explanation_edit').append(`<option value='${item.Id}' selected>${item.ExplanationName}</option>`);
                                }
                                else {
                                    $('#explanation_edit').append(`<option value='${item.Id}'>${item.ExplanationName}</option>`);
                                }

                            });
                        });

                    $.getJSON('/api/Companies/')
                        .done(function (data) {
                            $('#company_edit').empty();
                            $('#company_edit').append(`<option value=''>Select Company</option>`);
                            $.each(data, function (key, item) {
                                if (item.Id == assignmentData.CompanyId) {
                                    $('#company_edit').append(`<option value='${item.Id}' selected>${item.CompanyName}</option>`);
                                }
                                else {
                                    $('#company_edit').append(`<option value='${item.Id}'>${item.CompanyName}</option>`);
                                }

                            });
                        });
                    $('#unitprice_edit').val(assignmentData.UnitPrice);
                    if (assignmentData.CompanyName.toLowerCase() == "mw") {
                        $('#grade_edit').val(assignmentData.GradePoint);
                    } else {
                        $('#grade_edit').val("");
                    }
                    $('#grade_edit_hidden').val(assignmentData.GradeId);

                },
                error: function () {
                    //$('#add_name_table_1 tbody').empty();
                }
            });



        }


        function loadSingleAssignmentDataForExistingEmployee(employeeName) {
            $('#add_name_table_2 thead .sub_thead').remove();
            $('#add_name_table_2 tbody').empty();
            $('#add_name_add').css('display', 'inline-block');
            console.log(employeeName);
            $.ajax({
                url: `/api/Utilities/GetEmployeesByName/${employeeName}`,
                type: 'GET',
                async: false,
                dataType: 'json',
                success: function (assignmentData) {
                    console.log(assignmentData);
                    $('#fixed_hidden_name').val(assignmentData[0].EmployeeName);

                    var count = 1;
                    $.each(assignmentData, function (index, item) {
                       // console.log(item);
                        unitPrices.push(item.UnitPrice);
                        previousAssignmentRow = item.SubCode;
                        tr += '<tr class="sub_thead">';
                        tr += `<td>${item.SubCode}</td>`;
                        tr += `<td><input type='text' class=" col-12" style='width: 141px;' value='${item.EmployeeName}' readonly/></td>`;
                        tr += `<td><input type='text' class=" col-12" style='width: 47px;' value='${item.SubCode}' readonly /></td>`;
                        tr += `<td><input type='text' class=" col-12" style='width: 89px;' value='${item.Remarks}' readonly /></td>`;
                        tr += `<td><input type='text' class=" col-12" style='width: 87px;' value='${item.SectionName}' readonly /></td>`;
                        tr += `<td><input type='text' class=" col-12" style='width: 89px;' value='${item.DepartmentName}' readonly /></td>`;
                        tr += `<td><input type='text' class=" col-12" style='width: 89px;' value='${item.InchargeName}' readonly /></td>`;
                        tr += `<td><input type='text' class=" col-12" style='width: 89px;' value='${item.RoleName}' readonly /></td>`;
                        tr += `<td><input type='text' class=" col-12" style='width: 190px;' value='${item.ExplanationName}' readonly /></td>`;
                        tr += `<td><input type='text' class=" col-12" style='width:81px;'   value='${item.CompanyName}' readonly /></td>`;
                        if (item.CompanyName.toLowerCase() == "mw") {
                            tr += `<td><input type='text' class=" col-12" value='${item.GradePoint}' readonly style='width: 55px;' /></td>`;
                        }
                        else {
                            tr += `<td><input type='text' class=" col-12" value='' readonly style='width: 55px;' /></td>`;
                        }
                        tr += `<td><input type='text' class=" col-12" style='width: 72px;' value='${item.UnitPrice}' readonly /></td>`;
                        if (count==1) {
                            tr += `<td rowspan='${assignmentData.length}' style='text-align:center;'><a href='javascript:void(0);' onClick="addNew()"> <i class="fa fa-plus" aria-hidden="true"></i></a></td>`;
                        }

                        tr += '</tr>';

                        //console.log(tr);
                        count++;
                        $('#add_name_table_2 thead').append(tr);
                        var tr = "";
                    });

                },
                error: function () {

                }
            });
        }


        function addNew() {
            //
            previousAssignmentRow++;
        var text = `
            <tr data-id="${previousAssignmentRow}" id="row_${previousAssignmentRow}">
                <td>${previousAssignmentRow}</td>
                <td><input class=" col-12" id="identity_row_${previousAssignmentRow}" style='width: 141px;' value="${$('#fixed_hidden_name').val()}" readonly /></td>
                <td><input class="" value="${previousAssignmentRow}"  style='width: 47px;' id='sub_code_row_${previousAssignmentRow}' readonly /></td>
                <td><input class=" col-12" style='width: 89px;' id="memo_row_${previousAssignmentRow}" /></td>`;

            // for add new
                $.ajax({
                    url: '/api/Sections/',
                    type: 'GET',
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                        text += '<td>';
                        text += `
                               <select id="section_row_${previousAssignmentRow}" style='width: 87px;'class=" col-12 section_row" onChange="changeVal(${previousAssignmentRow},this)">
                                    <option value=''>Select Section</option>
                            `;
                        $.each(data, function (key, item) {
                            text += `<option value = '${item.Id}'> ${item.SectionName}</option>`;
                        });
                        text += '</select></td>';
                    },
                    error: function () {

                    }
            });


            text += `
                <td>
                    <select id="department_row_${previousAssignmentRow}" class=" col-12 department_row"></select>
                 </td>
                `;

            $.ajax({
                url: '/api/incharges/',
                type: 'GET',
                async: false,
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    text += '<td>';
                    text += `
                               <select id="incharge_row_${previousAssignmentRow}" class=" col-12">
                                    <option value=''>Select In-Charge</option>
                            `;
                    $.each(data, function (key, item) {
                        text += `<option value = '${item.Id}'> ${item.InChargeName}</option>`;
                    });
                    text += '</select></td>';
                },
                error: function () {

                }
            });

            $.ajax({
                url: '/api/roles/',
                type: 'GET',
                async: false,
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    text += '<td>';
                    text += `
                               <select id="role_row_${previousAssignmentRow}" class=" col-12">
                                    <option value=''>Select Role</option>
                            `;
                    $.each(data, function (key, item) {
                        text += `<option value = '${item.Id}'> ${item.RoleName}</option>`;
                    });
                    text += '</select></td>';
                },
                error: function () {

                }
            });

            $.ajax({
                url: '/api/Explanations/',
                type: 'GET',
                async: false,
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    text += '<td>';
                    text += `
                               <select id="explain_row_${previousAssignmentRow}" style='width: 190px;' class=" col-12">
                                    <option value=''>Select Role</option>
                            `;
                    $.each(data, function (key, item) {
                        text += `<option value = '${item.Id}'> ${item.ExplanationName}</option>`;
                    });
                    text += '</select></td>';
                },
                error: function () {

                }
            });

            $.ajax({
                url: '/api/Companies/',
                type: 'GET',
                async: false,
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    text += '<td>';
                    text += `
                               <select id="company_row_${previousAssignmentRow}" style='width:81px;' class=" col-12 add_company" onchange="LoadGradeValue(this);">
                                    <option value=''>Select Role</option>
                            `;
                    $.each(data, function (key, item) {
                        text += `<option value = '${item.Id}'> ${item.CompanyName}</option>`;
                    });
                    text += '</select></td>';
                },
                error: function () {

                }
            });
            text += `
                 <td><input class=" col-12" id="grade_row_${previousAssignmentRow}" readonly style='width: 55px;'/></td>
                 <td><input class=" col-12" id="unitprice_row_${previousAssignmentRow}" style='width: 72px;' onChange="unitPriceChange(${previousAssignmentRow},this)"/></td>
                 <td style='text-align:center;'><a href='javascript:void(0);' id='remove_row_${previousAssignmentRow}' onClick="removeTr(${previousAssignmentRow})"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
            </tr>

            `;

            $(`#remove_row_${previousAssignmentRow - 1}`).css('display','none');

            $('#add_name_table_2 tbody').append(text);

        }

        $('.add_company').on('change', function () {
            var _companyName = $(this).val();
            var _unitPrice = $("#unitprice_edit").val();
            console.log("_companyName: " + _companyName);

            //$.ajax({
            //    url: `/api/utilities/CompareGrade/${_unitPrice}`,
            //    type: 'GET',
            //    dataType: 'json',
            //    //data: {
            //    //    unitPrice: _unitPrice
            //    //},
            //    success: function (data) {
            //        $('#grade_edit_hidden').val(data.Id);
            //        if (_companyName.toLowerCase() == "mw") {
            //            $('#grade_edit').val(data.SalaryGrade);
            //        } else {
            //            $('#grade_edit').val('');
            //        }
            //    },
            //    error: function () {
            //        $('#grade_edit').val('');
            //        $('#grade_edit_hidden').val('');
            //    }
            //});
        });

        function removeTr(rowId) {
            var rowElement = $('#row_' + rowId);
            rowElement.remove();
            previousAssignmentRow--;
            $(`#remove_row_${previousAssignmentRow}`).css('display', 'block');

        }

        function changeVal(rowId, element) {

            var sectionId = $(element).val();

            $.ajax({
                url: `/api/utilities/DepartmentsBySection/${sectionId}`,
                type: 'GET',
                async: false,
                dataType: 'json',
                success: function (data) {
                    $('#department_row_' + rowId).empty();
                    $('#department_row_' + rowId).append(`<option value=''>Select Department</option>`);
                    $.each(data, function (key, item) {
                        $('#department_row_' + rowId).append(`<option value='${item.Id}'>${item.DepartmentName}</option>`);
                    });
                },
                error: function () {

                }
            });


        }


        function unitPriceChange(rowId,element) {
            let _unitPrice = $(element).val();
            $("#add_name_unit_price_hidden").val(_unitPrice);
            $("#add_name_row_no_hidden").val(rowId);


            var _rowId = $("#add_name_row_no_hidden").val();
            var _companyName = $('#company_row_' + _rowId).find(":selected").text();
            console.log("_companyName: " + _companyName);
            //var _unitPrice = $("#add_name_unit_price_hidden").val();

            console.log("_unitPrice: " + _unitPrice);


            if (!unitPrices.includes(_unitPrice)) {
                $('#identity_row_' + rowId).css('color', 'red');
                $('#sub_code_row_' + rowId).css('color', 'red');
            }
            //else {
            //    $('#identity_row_' + rowId).css('color', 'red');
            //    $('#sub_code_row_' + rowId).css('color', 'red');
            //}

            $.ajax({
                url: `/api/utilities/CompareGrade/${_unitPrice}`,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    $('#grade_edit_hidden').val(data.Id);
                    console.log("_companyName.toLowerCase(): " + _companyName.toLowerCase());
                    console.log("_companyName.toLowerCase(): " + typeof (_companyName));
                    console.log("_rowId: " + _rowId);
                    //if (_companyName.toLowerCase == 'mw') {
                    if (_companyName.toLowerCase().indexOf("mw") > 0) {
                        console.log("test- equal");
                        $('#grade_row_' + rowId).attr('data-id', data.Id);
                        $('#grade_row_' + _rowId).val(data.SalaryGrade);
                    } else {
                        console.log("test- not equal");
                        $('#grade_row_' + _rowId).val('');
                    }

                    
                    //$('#grade_row_' + rowId).val(data.SalaryGrade);
                },
                error: function () {
                    $('#grade_row_' + rowId).attr('data-id', '');
                    $('#grade_row_' + rowId).val('');
                }
            });
        }

        function onSave(){
            const rows = document.querySelectorAll("#add_name_table_2 > tbody > tr");
            //$('#add_name_add').css('display','none');
            console.log(rows);
            $.each(rows, function (index, data) {
                var rowId = data.dataset.id;

                var employeeName = $('#identity_row_' + rowId).val();
                var sectionId = $('#section_row_' + rowId).find(":selected").val();
                var departmentId = $('#department_row_' + rowId).find(":selected").val();
                var inchargeId = $('#incharge_row_' + rowId).find(":selected").val();
                var roleId = $('#role_row_' + rowId).find(":selected").val();
                var companyId = $('#company_row_' + rowId).find(":selected").val();
                var explanationId = $('#explain_row_' + rowId).find(":selected").val();
                var unitPrice = $('#unitprice_row_' + rowId).val();
                var gradeId = $('#grade_row_' + rowId).data('id');
                var remarks = $('#memo_row_' + rowId).val();
                var subCode = $('#sub_code_row_' + rowId).val();



                var data = {
                    EmployeeName: employeeName,
                    SectionId: sectionId,
                    DepartmentId: departmentId,
                    InchargeId: inchargeId,
                    RoleId: roleId,
                    ExplanationId: explanationId,
                    CompanyId: companyId,
                    UnitPrice: unitPrice,
                    GradeId: gradeId,
                    Remarks: remarks,
                    SubCode: subCode,

                };

                console.log(data);

                $.ajax({
                    url: '/api/Employees',
                    type: 'POST',
                    async: false,
                    dataType: 'json',
                    data: data,
                    success: function (data) {

                        Command: toastr["success"](data, "Success")

                        toastr.options = {
                            "closeButton": false,
                            "debug": false,
                            "newestOnTop": false,
                            "progressBar": false,
                            "positionClass": "toast-top-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "3000",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        }
                        alert('Success');
                        location.reload();
                        //$('#modal_add_name_new').modal('toggle');
                    },
                    error: function () {
                        alert("Error please try again");
                        //$('#modal_add_name_new').modal('toggle');
                    }
                });
            });

        }


        $(document).ready(function () {
            // for add new
            $.getJSON('/api/Roles/')
                .done(function (data) {
                    $('#role_new').empty();
                    $('#role_new').append(`<option value=''>Select Role</option>`);
                    $.each(data, function (key, item) {
                        $('#role_new').append(`<option value='${item.Id}'>${item.RoleName}</option>`);
                    });
                });
            // for search
            $.getJSON('/api/Roles/')
                .done(function (data) {
                    $('#role_search').empty();
                    $('#role_search').append(`<option value=''>Select Role</option>`);
                    $.each(data, function (key, item) {
                        $('#role_search').append(`<option value='${item.Id}'>${item.RoleName}</option>`);
                    });
                });
            // for add new
                $.getJSON('/api/Explanations/')
                    .done(function (data) {
                        $('#explanation_new').empty();
                        $('#explanation_new').append(`<option value=''>Select Explanation</option>`);
                        $.each(data, function (key, item) {
                            $('#explanation_new').append(`<option value='${item.Id}'>${item.ExplanationName}</option>`);
                        });
                });
            // for search
            $.getJSON('/api/Explanations/')
                .done(function (data) {
                    $('#explanation_search').empty();
                    $('#explanation_search').append(`<option value=''>Select Explanation</option>`);
                    $.each(data, function (key, item) {
                        $('#explanation_search').append(`<option value='${item.Id}'>${item.ExplanationName}</option>`);
                    });
                });
            // for add new
                $.getJSON('/api/Companies/')
                    .done(function (data) {
                        $('#company_new').empty();
                        $('#company_new').append(`<option value=''>Select Company</option>`);
                        $.each(data, function (key, item) {
                            $('#company_new').append(`<option value='${item.Id}'>${item.CompanyName}</option>`);
                        });
                });
             // for search
            $.getJSON('/api/Companies/')
                .done(function (data) {
                    $('#company_search').empty();
                    $('#company_search').append(`<option value=''>Select Company</option>`);
                    $.each(data, function (key, item) {
                        $('#company_search').append(`<option value='${item.Id}'>${item.CompanyName}</option>`);
                    });
                });

            // for add new
                $.getJSON('/api/incharges/')
                    .done(function (data) {
                        $('#incharge_new').empty();
                        $('#incharge_new').append(`<option value=''>Select In-Charge</option>`);
                        $.each(data, function (key, item) {
                            $('#incharge_new').append(`<option value='${item.Id}'>${item.InChargeName}</option>`);
                        });
                });
            // for search
            $.getJSON('/api/incharges/')
                .done(function (data) {
                    $('#incharge_search').empty();
                    $('#incharge_search').append(`<option value=''>Select In-Charge</option>`);
                    $.each(data, function (key, item) {
                        $('#incharge_search').append(`<option value='${item.Id}'>${item.InChargeName}</option>`);
                    });
                });
            // for add new
                $.getJSON('/api/sections/')
                    .done(function (data) {
                        $('#section_new').empty();
                        $('#section_new').append(`<option value=''>Select Section</option>`);
                        $.each(data, function (key, item) {
                            $('#section_new').append(`<option value='${item.Id}'>${item.SectionName}</option>`);
                        });
                });
            // for search
                $.getJSON('/api/sections/')
                    .done(function (data) {
                        $('#section_search').empty();
                        $('#section_search').append(`<option value=''>Select Section</option>`);
                        $.each(data, function (key, item) {
                            $('#section_search').append(`<option value='${item.Id}'>${item.SectionName}</option>`);
                        });
                    });


            $(document).on('change', '#section_edit', function () {

                var sectionId = $(this).val();
                console.log(sectionId);

                $.getJSON(`/api/utilities/DepartmentsBySection/${sectionId}`)
                    .done(function (data) {
                        $('#department_edit').empty();
                        $('#department_edit').append(`<option value=''>Select Department</option>`);
                        $.each(data, function (key, item) {
                            $('#department_edit').append(`<option value='${item.Id}'>${item.DepartmentName}</option>`);
                        });
                    });
            });


            $(document).on('change','#section_new', function () {

                var sectionId = $(this).val();
                console.log(sectionId);

                $.getJSON(`/api/utilities/DepartmentsBySection/${sectionId}`)
                    .done(function (data) {
                        $('#department_new').empty();
                        $('#department_new').append(`<option value=''>Select Department</option>`);
                        $.each(data, function (key, item) {
                            $('#department_new').append(`<option value='${item.Id}'>${item.DepartmentName}</option>`);
                        });
                    });
            });

            $(document).on('change', '#section_search', function () {

                var sectionId = $(this).val();
                console.log(sectionId);

                $.getJSON(`/api/utilities/DepartmentsBySection/${sectionId}`)
                    .done(function (data) {
                        $('#department_search').empty();
                        $('#department_search').append(`<option value=''>Select Department</option>`);
                        $.each(data, function (key, item) {
                            $('#department_search').append(`<option value='${item.Id}'>${item.DepartmentName}</option>`);
                        });
                    });
            });

            $('#unitprice_new').on('change', function () {
                var _unitPrice = $(this).val();

                $.ajax({
                    url: `/api/utilities/CompareGrade/${_unitPrice}`,
                    type: 'GET',
                    dataType: 'json',
                    //data: {
                    //    unitPrice: _unitPrice
                    //},
                    success: function (data) {
                        $('#grade_new_hidden').val(data.Id);
                        $('#grade_new').val(data.SalaryGrade);
                    },
                    error: function () {
                        $('#grade_new_hidden').val('');
                        $('#grade_new').val('');
                    }
                });
            });

            //$('#unitprice_edit').on('change', function () {
            //    var _unitPrice = $(this).val();

            //    $.ajax({
            //        url: `/api/utilities/CompareGrade/${_unitPrice}`,
            //        type: 'GET',
            //        dataType: 'json',
            //        //data: {
            //        //    unitPrice: _unitPrice
            //        //},
            //        success: function (data) {
            //            $('#grade_edit_hidden').val(data.Id);
            //            $('#grade_edit').val(data.SalaryGrade);
            //        },
            //        error: function () {
            //            $('#grade_edit').val('');
            //            $('#grade_edit_hidden').val('');
            //        }
            //    });
            //});
            $('#unitprice_edit').on('change', function () {
                var _unitPrice = $(this).val();
                var _companyName = $("#company_edit option:selected").text();

                $.ajax({
                    url: `/api/utilities/CompareGrade/${_unitPrice}`,
                    type: 'GET',
                    dataType: 'json',
                    //data: {
                    //    unitPrice: _unitPrice
                    //},
                    success: function (data) {
                        $('#grade_edit_hidden').val(data.Id);
                        if (_companyName.toLowerCase() == "mw") {
                            $('#grade_edit').val(data.SalaryGrade);
                        } else {
                            $('#grade_edit').val('');
                        }
                    },
                    error: function () {
                        $('#grade_edit').val('');
                        $('#grade_edit_hidden').val('');
                    }
                });
            });

            $('#company_edit').on('change', function () {
                var _companyName = $("#company_edit option:selected").text();
                var _unitPrice = $("#unitprice_edit").val();
                console.log("_unitPrice: " + _unitPrice);

                $.ajax({
                    url: `/api/utilities/CompareGrade/${_unitPrice}`,
                    type: 'GET',
                    dataType: 'json',
                    //data: {
                    //    unitPrice: _unitPrice
                    //},
                    success: function (data) {
                        $('#grade_edit_hidden').val(data.Id);
                        if (_companyName.toLowerCase() == "mw") {
                            $('#grade_edit').val(data.SalaryGrade);
                        } else {
                            $('#grade_edit').val('');
                        }
                    },
                    error: function () {
                        $('#grade_edit').val('');
                        $('#grade_edit_hidden').val('');
                    }
                });
            });



            $('#add_name_search_button').on('click', function () {
                var sectionId = $('#section_search').find(":selected").val();
                var inchargeId = $('#incharge_search').find(":selected").val();
                var departmentId = $('#department_search').find(":selected").val();
                var roleId = $('#role_search').find(":selected").val();
                var companyId = $('#company_search').find(":selected").val();
                var explanationId = $('#explanation_search').find(":selected").val();
                var employeeName = $('#identity_search').val();

                if (departmentId == undefined) {
                    departmentId = '';
                }
                var data_info = { employeeName: employeeName, sectionId: sectionId, departmentId: departmentId, inchargeId: inchargeId, roleId: roleId, explanationId: explanationId, companyId: companyId, status: '' };
                $.ajax({
                    url: `/api/utilities/SearchEmployee`,
                    type: 'GET',
                    dataType: 'json',
                    data: data_info,
                    success: function (data) {
                        console.log(data);
                        var employeeNameTemp = '';
                        var companyNameTemp = '';
                        $('#add_name_table_1 tbody').empty();
                        let redMark = false;


                        $('#add_name_table_1').DataTable({
                            destroy: true,
                            data: data,
                            ordering: true,
                            pageLength: 100,
                            columns: [
                                {
                                    data: 'MarkedAsRed',
                                    render: function (markedAsRed) {
                                        redMark = markedAsRed;
                                        return null;
                                    }
                                },
                                {
                                    data: 'EmployeeName',
                                    render: function (employeeName) {
                                        //console.log("employeeName: " + employeeName);
                                        //console.log("UnitPrice: " + UnitPrice);
                                        employeeNameTemp = employeeName;
                                        matchColor = "";
                                        //if (tempName != "") {
                                        //    if (tempName.toLowerCase() == employeeName.toLowerCase()) {
                                        //        if (UnitPrice != tempUnitPrice) {
                                        //            isUnitPriceMatch = "no";
                                        //            matchColor = "style='color:red;'"
                                        //        }
                                        //    } else {
                                        //        tempName = employeeNameTemp;
                                        //        tempUnitPrice = UnitPrice;
                                        //    }
                                        //} else {
                                        //    tempName = employeeName;
                                        //    tempUnitPrice = UnitPrice;
                                        //}
                                        if (redMark) {
                                            return `<span style='color:red'>${employeeName}</span>`;
                                        }
                                        else {
                                            return `<span>${employeeName}</span>`;
                                        }
                                        //return "<label " + matchColor+">" + employeeName +"</label>";

                                    },
                                    orderable: true,
                                },
                                {
                                    data: 'SubCode',
                                    render: function (subCode) {
                                        if (redMark) {
                                            return `<span style='color:red'>${parseInt(subCode)}</span>`;
                                        }
                                        else {
                                            return `<span>${parseInt(subCode)}</span>`;
                                        }
                                    },
                                    searching: false,
                                },
                                {
                                    data: 'Remarks',
                                },
                                {
                                    data: 'SectionName',
                                },
                                {
                                    data: 'DepartmentName',
                                    
                                },
                                {
                                    data: 'InchargeName',
                                },
                                {
                                    data: 'RoleName',
                                },
                                {
                                    data: 'ExplanationName',
                                },
                                {
                                    data: 'CompanyName',
                                    render: function (companyName) {
                                        companyNameTemp = companyName;
                                        return companyName;
                                    },
                                },
                                {
                                    data: 'GradePoint',
                                    render: function (gradePoint) {
                                        if (companyNameTemp.toLowerCase() == 'mw') {
                                            return gradePoint;
                                        }
                                        else {
                                            return '';
                                        }
                                    },
                                    orderable: false,
                                },
                                {
                                    data: 'UnitPrice',
                                    orderable: false,
                                },
                                {
                                    data: 'Id',
                                    render: function (id) {

                                        return `<td class="add_name_btn_group"><a href="javascript:void(0);" onClick="loadSingleAssignmentDataForExistingEmployee('${employeeNameTemp}')" class="link_add" data-toggle="modal" data-target="#modal_add_name">add name</a> <a href="javascript:void(0);" onClick="loadSingleAssignmentData(${id})" class="link_edit" data-toggle="modal" data-target="#modal_edit_name">edit</a></td>`;
                                    },
                                    searching: false,
                                    orderable: false,
                                }
                            ]
                        });
                        //var allRows = $('#add_name_table_1 > tbody > tr');

                        //console.log(allRows);
                    },
                    error: function () {
                        $('#add_name_table_1 tbody').empty();
                    }
                });


            });


            $('#add_name_add_new').on('click', function () {

                var employeeName = $('#identity_new').val();
                var sectionId = $('#section_new').find(":selected").val();
                var inchargeId = $('#incharge_new').find(":selected").val();
                var departmentId = $('#department_new').find(":selected").val();
                var roleId = $('#role_new').find(":selected").val();
                var companyId = $('#company_new').find(":selected").val();
                var explanationId = $('#explanation_new').find(":selected").val();
                var unitPrice = $('#unitprice_new').val();
                var gradeId = $('#grade_new_hidden').val();
                var remarks = $('#memo_new').val();



                var data = {
                    EmployeeName: employeeName,
                    SectionId: sectionId,
                    DepartmentId: departmentId,
                    InchargeId: inchargeId ,
                    RoleId: roleId,
                    ExplanationId: explanationId,
                    CompanyId: companyId,
                    UnitPrice: unitPrice,
                    GradeId: gradeId,
                    Remarks: remarks,
                    SubCode: 1


                };

                console.log(data);

                $.ajax({
                    url: '/api/Employees',
                    type: 'POST',
                    dataType: 'json',
                    data: data,
                    success: function (data) {

                        Command: toastr["success"](data, "Success")

                        toastr.options = {
                            "closeButton": false,
                            "debug": false,
                            "newestOnTop": false,
                            "progressBar": false,
                            "positionClass": "toast-top-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "3000",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        }
                        alert('Success');
                        location.reload();
                    },
                    error: function (data) {
                        alert(data.responseJSON.Message);
                        //$('#modal_add_name_new').modal('toggle');
                    }
                });



            });

            $('#add_name_edit').on('click', function () {

                var sectionId = $('#section_edit').find(":selected").val();
                var inchargeId = $('#incharge_edit').find(":selected").val();
                var departmentId = $('#department_edit').find(":selected").val();
                var roleId = $('#role_edit').find(":selected").val();
                var companyId = $('#company_edit').find(":selected").val();
                var explanationId = $('#explanation_edit').find(":selected").val();
                var unitPrice = $('#unitprice_edit').val();
                var gradeId = $('#grade_edit_hidden').val();
                var rowId = $('#row_id_hidden_edit').val();
                var remarks = $('#memo_edit').val();

                var dataSingleAssignmentUpdate = {
                    Id: rowId,
                    SectionId: sectionId,
                    DepartmentId: departmentId,
                    InchargeId: inchargeId,
                    RoleId: roleId,
                    ExplanationId: explanationId,
                    CompanyId: companyId,
                    UnitPrice: unitPrice,
                    GradeId: gradeId,
                    Remarks: remarks,
                };

                console.log(dataSingleAssignmentUpdate);

                $.ajax({
                    url: '/api/Employees',
                    type: 'PUT',
                    dataType: 'json',
                    data: dataSingleAssignmentUpdate,
                    success: function (data) {

                        Command: toastr["success"](data, "Success")

                        toastr.options = {
                            "closeButton": false,
                            "debug": false,
                            "newestOnTop": false,
                            "progressBar": false,
                            "positionClass": "toast-top-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "3000",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        }
                        alert('Success');
                        location.reload();
                    },
                    error: function (data) {
                        alert(data.responseJSON.Message);
                        //$('#modal_add_name_new').modal('toggle');
                    }
                });



            });


        });


    </script>

}

