
@{
    ViewBag.Title = "Name List";
}
<div class="content container-fluid">
    <!--search-->
    <div class="row">
        <div class="col-md-12">
            <table id="name_list_search">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Section</th>
                        <th>Department</th>
                        <th>In-Charge</th>
                        <th>Role</th>
                        <th>Company</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="namelist_search_tr">
                        <td>
                            <input type="text" class="form-control col-12 namelist_search" id="edit_employee_name" value="" placeholder="name">
                        </td>
                        <td>
                            <select id="section" class="form-control col-12 namelist_search"></select>
                        </td>
                        <td>
                            <select id="department" class="form-control col-12 namelist_search"></select>
                        </td>
                        <td>
                            <select id="incharge" class="form-control col-12 namelist_search"></select>
                        </td>
                        <td>
                            <select id="role" class="form-control col-12 namelist_search"></select>
                        </td>
                        <td>
                            <select id="company" class="form-control col-12 namelist_search"></select>
                        </td>
                        <td>
                            <select id="active_status" class="form-control col-12 namelist_search">
                                <option value="-1">Select Status</option>
                                <option value="1">Active</option>
                                <option value="0">Inactive</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6"></td>
                        <td>
                            <a href="javascript:void(0);" class="" id="name_list_search_button">Search</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-12">
                    <div class="forecast">
                        <table class="" id="forecast_table">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />

    <!--body header-->
    <div id="name_list_body">
        @*<div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h5>List</h5>
                    </div>
                </div>
            </div>*@
        <!--main body-->
        <div class="row">
            <div class="col-md-12">
                <div>
                    <table class="namelist_tbl" id="name-list">
                        <thead>
                            <tr>
                                <th class="name_list_th"></th>
                                @{
                                    string nameHref = "/Home/PersonInCharge";
                                    <th class="name_list_th"><a class="" href="@nameHref" target="_blank">Name Reg.</a></th>
                                }
                                <th class="name_list_th">
                                    <a class="" href="javascript:void(0);" data-toggle="modal" data-target="#section_registration">Section Reg.</a>
                                </th>
                                <th class="name_list_th">
                                    <a class="" id="department_modal_href" href="javascript:void(0);" data-toggle="modal" data-target="#department_registration">Dept Reg.</a>
                                </th>
                                <th class="name_list_th">
                                    <a class="" href="javascript:void(0);" data-toggle="modal" data-target="#in-charge_registration">In-Charge Reg.</a>
                                </th>
                                <th class="name_list_th">
                                    <a class="" href="javascript:void(0);" data-toggle="modal" data-target="#role_registration_modal">Role Reg.</a>
                                </th>
                                <th class="name_list_th">
                                    <a class="" href="javascript:void(0);" data-toggle="modal" data-target="#explanation_modal">Explanation Reg.</a>
                                </th>
                                <th class="name_list_th">
                                    <a class="" href="javascript:void(0);" data-toggle="modal" data-target="#company_reg_modal">Com. Reg.</a>
                                </th>
                            </tr>
                            <tr id="namelist_tbl_header">
                                <th style="width:31px;">SL</th>
                                <th>Name</th>
                                <th>Section</th>
                                <th>Department</th>
                                <th>In-Charge</th>
                                <th>Role</th>
                                <th>Explanation</th>
                                <th>Company Name</th>
                                <th style="width:33px;">Grade</th>
                                <th style="width:65px">Unit Price</th>
                                <th style="width:121px">Action</th>
                            </tr>
                            <tr id="namelist_tbl_search">
                                <th></th>
                                <th style="width:139px;"><input type="text" value="" id="name_search" style="border: 1px solid black; width:131px;" /></th>

                                <th style="width:139px;">

                                    <div class="multiselect">
                                        <div class="selectBox" onclick="SectionCheck()">
                                            <select>
                                                <option>Select Section</option>
                                            </select>
                                            <div class="overSelect"></div>
                                        </div>
                                        <div id="sectionChks" class="commonselect">
                                            
                                        </div>
                                    </div>
                                </th>

                                <th style="width:139px;">
                                    <div class="multiselect">
                                        <div class="selectBox" onclick="DepartmentCheck()">
                                            <select>
                                                <option>Select Department</option>
                                            </select>
                                            <div class="overSelect"></div>
                                        </div>
                                        <div id="departmentChks" class="commonselect">
                                            
                                        </div>
                                    </div>
                                </th>
                                <th style="width:139px;">
                                    <div class="multiselect">
                                        <div class="selectBox" onclick="InchargeCheck()">
                                            <select>
                                                <option>Select In-Charge</option>
                                            </select>
                                            <div class="overSelect"></div>
                                        </div>
                                        <div id="inchargeChks" class="commonselect">
                                           
                                        </div>
                                    </div>
                                </th>
                                <th style="width:139px;">
                                    <div class="multiselect">
                                        <div class="selectBox" onclick="RoleCheck()">
                                            <select>
                                                <option>Select Role</option>
                                            </select>
                                            <div class="overSelect"></div>
                                        </div>
                                        <div id="RoleChks" class="commonselect">
                                            
                                        </div>
                                    </div>
                                </th>
                                <th style="width:139px;">
                                    <div class="multiselect">
                                        <div class="selectBox" onclick="ExplanationCheck()">
                                            <select>
                                                <option>Select Explanation</option>
                                            </select>
                                            <div class="overSelect"></div>
                                        </div>
                                        <div id="ExplanationChks" class="commonselect">

                                        </div>
                                    </div>
                                </th>
                                <th style="width:139px;">
                                    <div class="multiselect">
                                        <div class="selectBox" onclick="CompanyCheck()">
                                            <select>
                                                <option>Select Company</option>
                                            </select>
                                            <div class="overSelect"></div>
                                        </div>
                                        <div id="CompanyChks" class="commonselect">
                                           
                                        </div>
                                    </div>
                                </th>
                                <th>

                                </th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="namelist_listbody">
                            <tr class="namelist_tr">
                                <td class="namelist_td">1</td>
                                <td class="namelist_td">Chandra Shekhar Das</td>
                                <td class="namelist_td">Development</td>
                                <td class="namelist_td">Database</td>
                                <td class="namelist_td">John Doe</td>
                                <td class="namelist_td">Programmer</td>
                                <td class="namelist_td">Explanation here...</td>
                                <td class="namelist_td">MW</td>
                                <td class="namelist_td">4</tdclass="namelist_td">
                                <td class="namelist_td">560</td>
                                <td class="namelist_td">
                                    <a id="edit_button" href="javascript:void();" data-toggle="modal" data-target="#namelst_edit">Edit</a>
                                    <a id="delete_button" href="javascript:void();" data-toggle="modal" data-target="#namelist_delete">Inactive</a>
                                </td>
                            </tr>
                            @*<tr class="namelist_tr">
                                <td class="namelist_td">2</td>
                                <td class="namelist_td">Chandra Shekhar Das</td>
                                <td class="namelist_td">Development</td>
                                <td class="namelist_td">Database</td>
                                <td class="namelist_td">John Doe</td>
                                <td class="namelist_td">Programmer</td>
                                <td class="namelist_td">Explanation here...</td>
                                <td class="namelist_td">JABA IT</td>
                                <td class="namelist_td"></td>
                                <td class="namelist_td">560</td>
                                <td class="namelist_td">
                                    <a id="edit_button" href="javascript:void();" data-toggle="modal" data-target="#namelst_edit">Edit</a>
                                    <a id="delete_button" href="javascript:void();" data-toggle="modal" data-target="#namelist_delete">Inactive</a>
                                </td>
                            </tr>
                            <tr class="namelist_tr">
                                <td class="namelist_td">3</td>
                                <td class="namelist_td">Chandra Shekhar Das</td>
                                <td class="namelist_td">Development</td>
                                <td class="namelist_td">Database</td>
                                <td class="namelist_td">John Doe</td>
                                <td class="namelist_td">Programmer</td>
                                <td class="namelist_td">Explanation here...</td>
                                <td class="namelist_td">MW</td>
                                <td class="namelist_td">4</td>
                                <td class="namelist_td">560</td>
                                <td class="namelist_td">
                                    <a id="edit_button" href="javascript:void();" data-toggle="modal" data-target="#namelst_edit">Edit</a>
                                    <a id="delete_button" href="javascript:void();" data-toggle="modal" data-target="#namelist_delete">Inactive</a>
                                </td>
                            </tr>
                            <tr class="namelist_tr">
                                <td class="namelist_td">4</td>
                                <td class="namelist_td">Chandra Shekhar Das</td>
                                <td class="namelist_td">Development</td>
                                <td class="namelist_td">Database</td>
                                <td class="namelist_td">John Doe</td>
                                <td class="namelist_td">Programmer</td>
                                <td class="namelist_td">Explanation here...</td>
                                <td class="namelist_td">JABA IT</td>
                                <td class="namelist_td"></td>
                                <td class="namelist_td">560</td>
                                <td class="namelist_td">
                                    <a id="edit_button" href="javascript:void();" data-toggle="modal" data-target="#namelst_edit">Edit</a>
                                    <a id="delete_button" href="javascript:void();" data-toggle="modal" data-target="#namelist_delete">Inactive</a>
                                </td>
                            </tr>
                            <tr class="namelist_tr">
                                <td class="namelist_td">5</td>
                                <td class="namelist_td">Chandra Shekhar Das</td>
                                <td class="namelist_td">Development</td>
                                <td class="namelist_td">Database</td>
                                <td class="namelist_td">John Doe</td>
                                <td class="namelist_td">Programmer</td>
                                <td class="namelist_td">Explanation here...</td>
                                <td class="namelist_td">JABA IT</td>
                                <td class="namelist_td"></td>
                                <td class="namelist_td">560</td>
                                <td class="namelist_td">
                                    <a id="edit_button" href="javascript:void();" data-toggle="modal" data-target="#namelst_edit">Edit</a>
                                    <a id="delete_button" href="javascript:void();" data-toggle="modal" data-target="#namelist_delete">Inactive</a>
                                </td>
                            </tr>*@
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_Modals")
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $('#name_list_search_button').click(function () {
                $('#name_list_body').show();
                GetListDropdownValue();
            });
            function GetListDropdownValue(){
                $.getJSON('/api/sections/')
                    .done(function (data) {
                        $('#sectionChks').empty();
                        //$('#sectionChks').append(`<option value='-1'>Select Section</option>`)
                        $.each(data, function (key, item) {
                            $('#sectionChks').append(`<label for='one'><input id="one" type="checkbox"  value='${item.Id}'/>${item.SectionName}</label>`)
                        });
                    });
                $.getJSON('/api/Departments/')
                    .done(function (data) {
                        $('#departmentChks').empty();
                        $.each(data, function (key, item) {
                            $('#departmentChks').append(`<label for='one'><input id="one" type="checkbox"  value='${item.Id}'/>${item.DepartmentName}</label>`)
                        });
                    });
                $.getJSON('/api/InCharges/')
                    .done(function (data) {
                        $('#inchargeChks').empty();
                        $.each(data, function (key, item) {
                            $('#inchargeChks').append(`<label for='one'><input id="one" type="checkbox"  value='${item.Id}'/>${item.InChargeName}</label>`)
                        });
                    });
                $.getJSON('/api/Roles/')
                        .done(function (data) {
                            $('#RoleChks').empty();
                            $.each(data, function (key, item) {
                                $('#RoleChks').append(`<label for='one'><input id="one" type="checkbox"  value='${item.Id}'/>${item.RoleName}</label>`)
                            });
                        });
                $.getJSON('/api/Explanations/')
                        .done(function (data) {
                            $('#ExplanationChks').empty();
                            $.each(data, function (key, item) {
                                $('#ExplanationChks').append(`<label for='one'><input id="one" type="checkbox"  value='${item.Id}'/>${item.ExplanationName}</label>`)
                            });
                        });
                $.getJSON('/api/Companies/')
                    .done(function (data) {
                        $('#CompanyChks').empty();
                        $.each(data, function (key, item) {
                            $('#CompanyChks').append(`<label for='one'><input id="one" type="checkbox"  value='${item.Id}'/>${item.CompanyName}</label>`)
                        });
                    });
            }
            
            $('#department_modal_href').click(function () {
                $.getJSON('/api/sections/')
                    .done(function (data) {
                        $('#section_list').empty();
                        $('#section_list').append(`<option value='-1'>Select Section</option>`)
                        $.each(data, function (key, item) {
                            $('#section_list').append(`<option value='${item.Id}'>&nbsp;&nbsp; ${item.SectionName}</option>`)
                        });
                    });
            });
            var expanded = false;

            //Search: Get Sections
            $.getJSON('/api/Sections/')
                .done(function (data) {
                    $('#section').empty();
                    $('#section').append(`<option value='-1'>Select Section</option>`)
                    $.each(data, function (key, item) {
                        $('#section').append(`<option value='${item.Id}'>${item.SectionName}</option>`)
                    });
                });
            //Search: Get Department
            $.getJSON('/api/Departments/')
                .done(function (data) {
                    $('#department').empty();
                    $('#department').append(`<option value='-1'>Select Department</option>`)
                    $.each(data, function (key, item) {
                        $('#department').append(`<option value='${item.Id}'>${item.DepartmentName}</option>`)
                    });
                });
            //Search: Get In-Charge
            $.getJSON('/api/InCharges/')
                .done(function (data) {
                    $('#incharge').empty();
                    $('#incharge').append(`<option value='-1'>Select In-Charge</option>`)
                    $.each(data, function (key, item) {
                        $('#incharge').append(`<option value='${item.Id}'>${item.InChargeName}</option>`)
                    });
                });
            //Search: Get Roles
            $.getJSON('/api/Roles/')
                .done(function (data) {
                    $('#role').empty();
                    $('#role').append(`<option value='-1'>Select Role</option>`)
                    $.each(data, function (key, item) {
                        $('#role').append(`<option value='${item.Id}'>${item.RoleName}</option>`)
                    });
                });
            //Search: Get Company
            $.getJSON('/api/Companies/')
                .done(function (data) {
                    $('#company').empty();
                    $('#company').append(`<option value='-1'>Select Company</option>`)
                    $.each(data, function (key, item) {
                        $('#company').append(`<option value='${item.Id}'>${item.CompanyName}</option>`)
                    });
                });


        });

    </script>
}

