@{ ViewBag.Title = "Name List"; }

@section Styles {
    @* <link href="/Content/common.css" rel="stylesheet" type="text/css" />
    <link href="/Content/namelist.css" rel="stylesheet" type="text/css" />    
    <link href="/Content/modal_registrations.css" rel="stylesheet" type="text/css" />   
    <link href="/Content/namelist-responsive.css" rel="stylesheet" type="text/css" />    *@
    
    <link href="/Content/jquery.dataTables.min.css" rel="stylesheet" type="text/css" /> 
    <link href="/Content/namelist.scss" rel="stylesheet" type="text/scss" />     
}
<style>
    html, body {
    width: 100%;
    height: 100%;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdown-container, .instructions {
    width: 200px;
    margin: 20px auto 0;
    font-size: 14px;
    font-family: sans-serif;
    overflow: auto;
}

.instructions {
    width: 100%;
    text-align: center;
}

.dropdown-button {
    float: left;
    width: 100%;
    background: whitesmoke;
    padding: 10px 12px;

    cursor: pointer;
    border: 1px solid lightgray;
    box-sizing: border-box;
    
    .dropdown-label, .dropdown-quantity {
        float: left;
    }
    
    .dropdown-quantity {
        margin-left: 4px;
    }
    
    .fa-filter {
        float: right;
    }
}

.dropdown-list {
    float: left;
    width: 100%;

    border: 1px solid lightgray;
    border-top: none;
    box-sizing: border-box;
    padding: 10px 12px;
    
    input[type="search"] {
        padding: 5px 0;
    }
    
    ul {
        margin: 10px 0;
        max-height: 200px;
        overflow-y: auto;
        
        input[type="checkbox"] {
            position: relative;
            top: 2px;
        }
    }
}

</style>
<div class="container">
    <select class="select" multiple data-mdb-filter="true">
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
        <option value="4">Four</option>
        <option value="5">Five</option>
        <option value="6">Six</option>
        <option value="7">Seven</option>
        <option value="8">Eight</option>
        <option value="9">Nine</option>
        <option value="10">Ten</option>
    </select>
    <table id="namelist" class="display nowrap" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Section</th>
                <th>Department</th>
                <th>In-Charge</th>
                <th>Role</th>
                <th>Explanations</th>
                <th>Company</th>
                <th>Grade</th>
                <th>Unit Price</th>
                <th>Action</th>
            </tr>
            <tr>
                @* <th>Name</th> *@
                <th>
                    <select class="select" multiple data-mdb-filter="true">
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                    <option value="4">Four</option>
                    <option value="5">Five</option>
                    <option value="6">Six</option>
                    <option value="7">Seven</option>
                    <option value="8">Eight</option>
                    <option value="9">Nine</option>
                    <option value="10">Ten</option>
                    </select>
                </th>
                <th>Section</th>
                <th>Department</th>
                <th>In-Charge</th>
                <th>Role</th>
                <th>Explanations</th>
                <th>Company</th>
                <th>Grade</th>
                <th>Unit Price</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody class="namelist_tbody">
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>System Architect</td>
                <td>System Architect</td>
                <td>System Architect</td>
                <td>System Architect</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$3,120</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>System Architect</td>
                <td>System Architect</td>
                <td>System Architect</td>
                <td>System Architect</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$3,120</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>System Architect</td>
                <td>System Architect</td>
                <td>System Architect</td>
                <td>System Architect</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$3,120</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>System Architect</td>
                <td>System Architect</td>
                <td>System Architect</td>
                <td>System Architect</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$3,120</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>System Architect</td>
                <td>System Architect</td>
                <td>System Architect</td>
                <td>System Architect</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$3,120</td>
            </tr>
        </tbody>
    </table>
</div>

@* @Html.Partial("_Modals") *@

@section Scripts{    
    @* <script src="/Scripts/jquery-3.5.1.js"></script> *@
    @* <script src="/Scripts/dataTables.fixedHeader.min.js"></script> *@
    @* <script src="/Scripts/common.js"></script>
    <script src="/Scripts/namelist.js"></script>
    <script src="/Scripts/modal_registrations.js"></script> *@
    <script src="/Scripts/lodash.min.js"></script>
    <script src="/Scripts/namelist.js"></script>
}