
@{
    ViewBag.Title = "Company Registration";
}
@section Styles {
    <link rel="stylesheet" type="text/css" href="/Content/common.css" />
    <link rel="stylesheet" type="text/css" href="/Content/companies.css" />
}

<div class="content container-fluid">
    <!--Company List-->
    <h4 style="text-align:left;">List</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="">
                <table id="copmany_table">
                    <thead>
                        <tr>
                            <th>Check</th>
                            <th>Company Name</th>
                        </tr>
                    </thead>
                    <tbody id="company_list_tbody"></tbody>
                </table>
                <label id="company_delete_btn">
                    <a id="company_inactive_btn" href="javascript:void();" data-toggle="modal" data-target="#inactive_company_modal">Delete</a>
                </label>
            </div>
        </div>
    </div>
    <br />

    <!-- Company Reg. -->
    <div class="modal-content" id="company_body">
        <div class="modal-body">
            <form>
                <div id="main-div">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="companyName">Company Name <span class="text-danger">*</span></label>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <input class="form-control" id="companyName" type="text" placeholder="company name...">
                                <div class="company_name_err">
                                    Please provide a company name.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="cutom_button_group_company">
                        <a href="javascript:void(0);" id="company_cancel">Cancel</a>
                        <a href="javascript:void(0);" id="company_registration" onclick="InsertCompanies();">Registration</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br><br>
</div>
<input type="hidden" id="company_warning_text" />

<!-- Inactive company Modal -->
<div class="modal custom-modal fade" id="inactive_company_modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Company</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn" id="company_inactive_confirm_btn">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="/Scripts/common.js"></script>
    <script src="/Scripts/companies.js"></script>
}
