@model CostAllocationApp.ViewModels.BaseViewModel  
      <!-- Sidebar -->
<style>
    .sidebar-menu ul a.active {
        background-color: #ffebda;
        color: #000;
        text-decoration: underline;
    }
</style>
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">
                    <span>Cost Management</span>
                </li>
                @{
                    //string url = HttpContext.Current.Request.Url.AbsoluteUri;
                    string fullPath = HttpContext.Current.Request.Url.AbsolutePath;
                    string url = System.IO.Path.GetFileName(fullPath);
                    if (url.ToLower().Contains("login") || string.IsNullOrEmpty(url))
                    {
                        <li>
                            <a href="/Registration/Login" class="active"><i class="la la-user"></i> <span>Login</span></a>
                        </li>
                    }
                    else
                    {
                        if (url.ToLower().Contains("namelist"))
                        {
                            <li>
                                <a href="/Employees/NameList" class="active"><i class="la la-cube"></i> <span>Name List (名簿)</span></a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/Employees/NameList"><i class="la la-cube"></i> <span>Name List (名簿)</span></a>
                            </li>
                        }
                        if (url.ToLower().Contains("createassignment"))
                        {
                            <li>
                                <a href="javascriopt:void(0);" class="active"><i class="la la-cube"></i> <span>Add Name（追加）</span></a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/Employees/CreateAssignment"><i class="la la-cube"></i> <span>Add Name（追加）</span></a>
                            </li>
                        }
                        <li class="submenu">
                            <a href="javascript:void(0);">
                                <i class="la la-bullhorn"></i>
                                <span>Create Allocation (配置作成)</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul style="display: none;">

                                @foreach (var item in Model.Sections)
                                {
                                     <li><a href="/Forecasts/CreateForecast?sectionId=@item.Id">@item.SectionName</a></li>
                                }
                                @*@{
                                    if (url.ToLower().Contains("createforecast"))
                                    {
                                        <li><a href="/Forecasts/CreateForecast" class="active">Planning Allocation (企画配置)</a></li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="/Forecasts/CreateForecast">Planning Allocation (企画配置)</a>
                                        </li>
                                    }
                                    if (url.ToLower().Contains("createforecast"))
                                    {
                                        <li><a href="/Forecasts/CreateForecast" class="active">Dev Allocation (開発配置)</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="/Forecasts/CreateForecast">Dev Allocation (開発配置)</a></li>
                                    }
                                }*@
                            </ul>
                        </li>                        
                        <li>
                            <a href="javascript:void(0);"><i class="la la-files-o"></i> <span>Data Export (輸出)</span></a>
                        </li>

                        <li class="submenu">
                            <a href="javascript:void(0);">
                                <i class="la la-files-o"></i>
                                <span>
                                    Master Setting (マスター設定)
                                </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul style="display: none;">
                                @{
                                    if (url.ToLower().Contains("createsection"))
                                    {
                                        <li><a href="/Sections/CreateSection" class="active">Section Master (区分マスター)</a></li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="/Sections/CreateSection">Section Master (区分マスター)</a>
                                        </li>
                                    }
                                    if (url.ToLower().Contains("createcompany"))
                                    {
                                        <li><a href="/Companies/CreateCompany" class="active">Company Master (会社マスター)</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="/Companies/CreateCompany">Company Master (会社マスター)</a></li>
                                    }
                                    if (url.ToLower().Contains("createdepartment"))
                                    {
                                        <li><a href="/Departments/CreateDepartment" class="active">Dept.  Master （部署バスター）</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="/Departments/CreateDepartment">Dept.  Master （部署バスター）</a></li>
                                    }
                                    if (url.ToLower().Contains("createsalary"))
                                    {
                                        <li><a href="/Salaries/CreateSalary" class="active">Grade.  Master （グレードマスター）</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="/Salaries/CreateSalary">Grade.  Master （グレードマスター）</a></li>
                                    }
                                    if (url.ToLower().Contains("createexplanation"))
                                    {
                                        <li><a href="/Explanations/CreateExplanation" class="active">Allocation  Master （配置マスター）</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="/Explanations/CreateExplanation">Allocation  Master （配置マスター）</a></li>
                                    }
                                }
                            </ul>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>
<!-- /Sidebar -->