@model CostAllocationApp.ViewModels.BaseViewModel
<!-- Sidebar -->
<style>
    .sidebar-menu ul a.active {
        background-color: #ffebda;
        color: #000;
        text-decoration: underline;
    }
</style>
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">
                    <span title="人件費配賦システム (Cost Management)">人件費配賦システム (Cost Management)</span>
                </li>
                @{
                    //string url = HttpContext.Current.Request.Url.AbsoluteUri;
                    string fullPath = HttpContext.Current.Request.Url.AbsolutePath;
                    string url = System.IO.Path.GetFileName(fullPath);
                    var departmentId = Request.QueryString["departmentId"];


                    if (url.ToLower().Contains("login") || string.IsNullOrEmpty(url))
                    {
                        <li>
                            <a href="/Registration/Login" class="active"><i class="la la-user"></i> <span title="ログイン (Login)">ログイン (Login)</span></a>
                        </li>
                    }
                    else
                    {
                        if (url.ToLower().Contains("namelist"))
                        {
                            <li>
                                <a href="/Employees/NameList" class="active"><i class="la la-cube"></i> <span title="名簿 (Name List)">名簿 (Name List)</span></a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/Employees/NameList"><i class="la la-cube"></i> <span title="名簿 (Name List)">名簿 (Name List)</span></a>
                            </li>
                        }
                        if (url.ToLower().Contains("createassignment"))
                        {
                            <li>
                                <a href="javascriopt:void(0);" class="active"><i class="la la-cube"></i> <span title="追加 (Add Name)">追加 (Add Name)</span></a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/Employees/CreateAssignment"><i class="la la-cube"></i> <span title="追加 (Add Name)">追加 (Add Name)</span></a>
                            </li>
                        }
                        <li class="submenu">
                            <a href="javascript:void(0);">
                                <i class="la la-bullhorn"></i>
                                <span title="配置作成 (Create Allocation)">配置作成 (Allocation)</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul style="display: none;">

                                @foreach (var item in Model.Departments)
                                {
                                    string forecastMenuName = "";
                                    if(item.DepartmentName.ToLower() == "企画")
                                    {
                                        forecastMenuName = "企画配置 (Planning Allocation)";
                                    }
                                    else if(item.DepartmentName.ToLower() == "開発")
                                    {
                                        forecastMenuName = "開発配置 (Dev Allocation)";
                                    }
                                    if (url.ToLower().Contains("createforecast") && item.Id.ToString() == departmentId)
                                    {
                                        <li><a href="/Forecasts/CreateForecast?departmentId=@item.Id" class="active" title="@forecastMenuName">@forecastMenuName</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="/Forecasts/CreateForecast?departmentId=@item.Id" title="@forecastMenuName">@forecastMenuName</a></li>
                                    }
                                }
                            </ul>
                        </li>
                        
                        <li class="submenu">
                            <a href="javascript:void(0);">
                                <i class="la la-files-o"></i>
                                @* <span title="データエクスポート (Data Export)">データエクスポート (Export)</span> *@
                                <span title="データ作成(Data Create)">データ作成(Data Create)</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul style="display: none;">

                                @{
                                    if (url.ToLower().Contains("dataexports"))
                                    {
                                        <li><a href="/Exports/DataExports" class="active" title="データ作成(Data Create)">データ作成(Data Create)</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="/Exports/DataExports" title="データ作成(Data Create)">データ作成(Data Create)</a></li>
                                    }
@*                                     
                                    if (url.ToLower().Contains("dataexportbydepartment"))
                                    {
                                        <li><a href="/Exports/DataExportByDepartment" class="active" title="部門別エクスポート (Export by Department)">部門別エクスポート (Export by Department)</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="/Exports/DataExportByDepartment" title="部門別エクスポート (Export by Department)">部門別エクスポート (Export by Department)</a></li>
                                    }
                                    if (url.ToLower().Contains("dataexportbyallocation"))
                                    {
                                        <li><a href="/Exports/DataExportByAllocation" class="active" title="アロケーション別エクスポート (Export by Allocation)">アロケーション別エクスポート (Export by Allocation)</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="/Exports/DataExportByAllocation" title="アロケーション別エクスポート (Export by Allocation)">アロケーション別エクスポート (Export by Allocation)</a></li>
                                    }
                                    if (url.ToLower().Contains("exportalldata"))
                                    {
                                        <li><a href="/Exports/ExportAllData" class="active" title="全てのデータエクスポート (Export All Data)"> 全てのデータエクスポート (Export All Data)</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="/Exports/ExportAllData" title="全てのデータエクスポート (Export All Data)">全てのデータエクスポート (Export All Data)</a></li>
                                    } *@

                                }
                            </ul>
                        </li>
                        
                        <li class="submenu">
                            <a href="javascript:void(0);">
                                <i class="la la-files-o"></i>
                                <span title="マスター設定 (Master Setting)">マスター設定 (Master)</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul style="display: none;">
                                @{
                                    if (url.ToLower().Contains("createsection"))
                                    {
                                        <li><a href="/Sections/CreateSection" class="active" title="区分マスター (Section Setting)">区分マスター (Section Setting)</a></li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="/Sections/CreateSection" title="区分マスター (Section Setting)">区分マスター (Section Setting)</a>
                                        </li>
                                    }
                                    if (url.ToLower().Contains("creategrade"))
                                    {
                                        <li><a href="/Grades/CreateGrade" class="active" title="グレードマスター (Grade Master)">グレードマスター (Grade Master)</a></li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="/Grades/CreateGrade" title="グレードマスター (Grade Master)">グレードマスター (Grade Master)</a>
                                        </li>
                                    }
                                    if (url.ToLower().Contains("createcommonmaster"))
                                    {
                                        <li><a href="/commonmasters/createcommonmaster" class="active" title="コモンマスター (Common Master)">コモンマスター (Common Master)</a></li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="/commonmasters/createcommonmaster" title="コモンマスター (Common Master)">コモンマスター (Common Master)</a>
                                        </li>
                                    }
                                    if (url.ToLower().Contains("createcompany"))
                                    {
                                        <li><a href="/Companies/CreateCompany" class="active" title="会社マスター (Company Master)">会社マスター (Company Master)</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="/Companies/CreateCompany" title="会社マスター (Company Master)">会社マスター (Company Master)</a></li>
                                    }
                                    if (url.ToLower().Contains("createdepartment"))
                                    {
                                        <li><a href="/Departments/CreateDepartment" class="active" title="部署バスター (Dept. Master)">部署バスター (Dept. Master)</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="/Departments/CreateDepartment" title="部署バスター (Dept. Master)">部署バスター (Dept. Master)</a></li>
                                    }
                                    if (url.ToLower().Contains("createsalary"))
                                    {
                                        <li><a href="/Salaries/CreateSalary" class="active" title="等級 給与タイプ (Grade Salary Type Master)">等級 給与タイプ (Grade Salary Type Master)</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="/Salaries/CreateSalary" title="等級 給与タイプ (Grade Salary Type Master)">等級 給与タイプ (Grade Salary Type Master)</a></li>
                                    }
                                    if (url.ToLower().Contains("createexplanation"))
                                    {
                                        <li><a href="/Explanations/CreateExplanation" class="active" title="配置マスター (Allocation Master)">配置マスター (Allocation Master)</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="/Explanations/CreateExplanation" title="配置マスター (Allocation Master)">配置マスター (Allocation Master)</a></li>
                                    }
                                }
                            </ul>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>
<!-- /Sidebar -->