
@{
    ViewBag.Title = "Explanation Registration";
}
@section Styles {
    <link rel="stylesheet" type="text/css" href="/Content/common.css" />
    <link rel="stylesheet" type="text/css" href="/Content/explanations.css" />
}

<div class="content container-fluid">
    <!--Explanations List-->
    <h4 style="text-align:left;">List</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="">
                <table id="explanation_table">
                    <thead>
                        <tr>
                            <th>Check</th>
                            <th>Explanation</th>
                        </tr>
                    </thead>
                    <tbody id="explanations_list_tbody"></tbody>
                </table>
                <label id="explanation_delete_btn">
                    <a id="explanations_inactive_btn" href="javascript:void();" data-toggle="modal" data-target="#inactive_explanation_modal">Delete</a>
                </label>
            </div>
        </div>
    </div>
    <br />

    <!-- Explanations Reg. -->
    <div class="modal-content" id="explanation_body">
        <div class="modal-body">
            <form>
                <div id="main-div">
                    <div class="row">
                        <div class="col-sm-4 module-label-txt">
                            <div class="form-group">
                                <label for="explanation_name">Explanation <span class="text-danger">*</span></label>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <input class="form-control" id="explanation_name" type="text" placeholder="explanation  name...">
                                <div class="explanations_name_err">
                                    Please provide a explanation  name.
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="cutom_button_group_explanation">
                        <a href="javascript:void(0);" id="explanation_cancel">Cancel</a>
                        <a href="javascript:void(0);" id="explanation_registration" onclick="InsertExplanations();">Registration</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br><br>
</div>
<input type="hidden" id="explanation_warning_text" />

<!-- Inactive Explanations Modal -->
<div class="modal custom-modal fade" id="inactive_explanation_modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Explanations</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn" id="explanations_inactive_confirm_btn">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="/Scripts/common.js"></script>
    <script src="/Scripts/explanations.js"></script>
}